{% block html_body  %}
  <p>Olá, {{ username }}</p>
  <p>
    Agradecemos por registrar a organização <a href="{{ domain }}{% url 'organisation' pk=id %}">{{ submissionName }}</a>
    na plataforma Civis.
  </p>
  <p>Agora, ela passará pela etapa de moderação conduzida pela nossa equipe.</p>
  <p>O objetivo é prevenir o uso da plataforma para outros fins que não sejam o suporte à ciência cidadã.</p>
  <p>Caso tenhamos alguma dúvida, entraremos em contato.</p>
  <p>Se estiver tudo ok, você receberá um aviso de que a organização foi aprovada e encontra-se publicada na plataforma.</p>
  <p>Você pode fazer atualizações ou alterações no perfil da organização a qualquer momento acessando a seção Minhas submissões
    na sua <a href="{{ domain }}{% url 'profiles:show_self' %}">Área Pessoal</a> (veja o canto superior direito do menu da plataforma).</p>
  <p>Se quiser falar conosco, escreva para civis@ibict.br.</p>
  <p>Este é um e-mail automático, NÃO responda.</p>
  <p>Saudações,</p>
  <p>Equipe Civis</p>
{% endblock html_body %}