{% load i18n %}
{% load thumbnail %}
<div class="row mb-2">  
    {% if event.logo %}
    <div class="col-lg-2 p-0">
            <div class="col-lg-3 px-1 mb-2 w-100" >
                <img class="card-img lazyload"
                    data-src="{% thumbnail event.logo|default:'void_600.png' 600x500 upscale crop %}"
                    alt="Card image">
            </div>
        </div>       
      
    <div class="col-lg-3 col-12 mt-0 mb-0 text-blue3" >
        <h3 class="mb-0">{{event.title}}</h3> 
        <span class="text-blue3">
            {% if event.hour %}{{event.hour | time:'H:i'}} {% endif %}
            {{event.start_date | date:" M d, Y"}}                 
            {% if event.end_date %}to {{event.end_date | date:" M d, Y"}}{% endif %}
        </span> <br>
        <span><i>
                {% if event.place %}{{event.place}} {%endif%} <br>
                {% if event.url %} 
                <div class="mt-3 mb-5">
                    <a class="btn btn-blue3" href="{{event.url}}" target="_blank">
                        {% trans "Go to event page" %}
                    </a>
                </div>
                {% endif %}     
        </i></span>
    </div>
    <div class="col-lg-6 col-12 mt-0 mb-0">
        {{ event.description}} <br>
        
    </div>
    {% if user.is_staff %}
    <div class="col-lg-1 col-12 mt-0 mb-4">
        <span id="featured{{event.id}}">
            {% if event.featured %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, false)"><i class="fas fa-arrow-alt-circle-up"></i></a>
            {% else %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, true)"><i class="far fa-arrow-alt-circle-up"></i></a>
            {% endif %}
        </span>
        <a class="btn btn-red float-left mt-1" href="{% url 'editEvent' event.id %}" ><i class="fas fa-edit"></i></a>
        <a class="btn btn-red float-left mt-1" href="{% url 'deleteEvent' event.id %}"><i class="fas fa-trash-alt"></i></a>
    </div>
    {% endif %}  
    {% else %}

       <div class="col-lg-3 col-12 mt-0 mb-0 text-blue3" >
        <h3 class="mb-0">{{event.title}}</h3> 
        <span class="text-blue3">
            {% if event.hour %}{{event.hour | time:'H:i'}} {% endif %}
            {{event.start_date | date:" M d, Y"}}                 
            {% if event.end_date %}to {{event.end_date | date:" M d, Y"}}{% endif %}
        </span> <br>
        <span><i>
                {% if event.place %}{{event.place}} {%endif%} <br>
                {% if event.url %} 
                <div class="mt-3 mb-5">
                    <a class="btn btn-blue3" href="{{event.url}}" target="_blank">
                        {% trans "Go to event page" %}
                    </a>
                </div>
                {% endif %}     
        </i></span>
    </div>
    <div class="col-lg-6 col-12 mt-0 mb-0">
        {{ event.description}} <br>
        
    </div>
    {% if user.is_staff %}
    <div class="col-lg-1 col-12 mt-0 mb-4">
        <span id="featured{{event.id}}">
            {% if event.featured %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, false)"><i class="fas fa-arrow-alt-circle-up"></i></a>
            {% else %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, true)"><i class="far fa-arrow-alt-circle-up"></i></a>
            {% endif %}
        </span>
        <a class="btn btn-red float-left mt-1" href="{% url 'editEvent' event.id %}" ><i class="fas fa-edit"></i></a>
        <a class="btn btn-red float-left mt-1" href="{% url 'deleteEvent' event.id %}"><i class="fas fa-trash-alt"></i></a>
    </div>
    {% endif %}
    {% endif %} 


</div>
