{% load i18n %}
<div class="row">
    <div class="col-sm-4 col-12 mt-4 mb-4 text-blue3">
        <h3>{{event.title}}</h3> 
        <span><i>
                {% if event.place %}{{event.place}} {%endif%} <br>
                {% if event.url %} 
                <div class="mt-3 mb-5">
                    <a class="btn btn-blue3" href="{{event.url}}" target="_blank">
                        {% trans "Go to event page" %}
                    </a>
                </div>
                {% endif %}     
        </i></span>
    </div>
    <div class="col-sm-7 col-12 mt-4 mb-4">
        {{ event.description}} <br><br>
        <span class="text-blue3">
            {% if event.hour %}{{event.hour | time:'H:i'}} {% endif %} <br>
            {{event.start_date | date:" M d, Y"}}                 
            {% if event.end_date %}to {{event.end_date | date:" M d, Y"}}{% endif %}
        </span>
    </div>
    {% if user.is_staff %}
    <div class="col-sm-1 col-12 mt-4 mb-4">
        <span id="featured{{event.id}}">
            {% if event.featured %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, false)"><i class="fas fa-arrow-alt-circle-up"></i></a>
            {% else %}
            <a class="btn btn-red float-left mt-1" onclick="setFeaturedEvent({{event.id}}, true)"><i class="far fa-arrow-alt-circle-up"></i></a>
            {% endif %}
        </span>
        <a class="btn btn-red float-left mt-1" href="{% url 'editEvent' event.id %}" ><i class="fas fa-edit"></i></a>
        <a class="btn btn-red float-left mt-1" href="{% url 'deleteEvent' event.id %}"><i class="fas fa-trash-alt"></i></a>
    </div>
    {% endif %}
</div>