{% load i18n %}
{% load static %}
{% load reviews %}
{% load thumbnail %}
    
<div class="col-lg-3 col-sm-6 col-12 mb-5">
    <div class="card h-100 border-1 rounded">
        <div class="card-body d-flex flex-column">
            <div class="mb-auto">
                <h4 class="mt-2 mb-0">
                    <span class="card-title">{{event.title | truncatewords_html:10 }}</span>
                </h4>        
                <br>    
                <span class="text-pink6">
                    {% if event.end_date %}{% trans "From "%}{% endif %}
                    {{event.start_date | date:" d M"}}
                    {% if event.end_date %}{% trans " until " %}{{event.end_date | date:" d M, Y"}}{%endif%}
                </span> 
                <br>
                <i>{% if event.place %}{{event.place}} {%endif%}</i>
                
            </div>            
            <div class="mt-4">
                <a href="{{event.url}}" class="btn btn-pink6" target="_blank">{% trans "Learn more" %}</a>
            </div>
        </div><!-- End of card-body -->
    </div><!-- end of card -->
</div><!-- end of col -->