{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "About" %}{% endblock %}

{% block list_of_items %}
<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />
<body>
 
    <div class="container p-0" >
      <div
          class="border-top "
          style="
            
            margin-top: 0%;
            margin-bottom: 3%;
            border: 3px solid #114D7F;
          "
        ></div>
        <div class="row justify-content-between mx-2" >
          
            <!-- Coluna Principal -->
            <div class="col-md-8 ">
                

                <div class="text-about mb-3 font-weight-bold " style=" line-height: 26px;  word-wrap: break-word; overflow-wrap: break-word;">
                    Sobre o projeto
                </div>
                <div class="mt-4 mb-5 reg" style="color: #000;font-size: 20px; line-height: 26px;max-width: 749px;">
<p>De acordo com a OMS, uma doença rara é a que afeta até 65 a cada 100 mil indivíduos. No entanto, como cada país tem critérios próprios e linhas de corte particulares sobre tais enfermidades, a ONU propôs a adoção de uma resolução para ser reconhecida em todo o mundo que diz que a “condição médica com um padrão específico de sinais, sintomas e achados clínicos, afetando até 1,3 em cada 2.000 pessoas.” (OMS,2024). No Brasil não se nota a participação da população desamparada em discussões de ampla visibilidade nem a representação em dados oficiais disponibilizados pelo Estado. Este apagamento não significa a inexistência da doença rara na população pobre, mas pode indicar que uma parcela da população afetada por esse tipo de patologia tenha sido excluída do processo antes mesmo de chegar à atenção primária à saúde (APS) em unidades básicas de saúde.</p>

<p>Segundo Paiva (2003) a “Comunidade como Unidade de Gerência e Pressão” representa a ação contínua dos movimentos sociais brasileiros atuantes nas causas das doenças raras, pois, entendem que a “possibilidade comunitária quer dizer opor-se ou, pelo menos, não aceitar incondicionalmente o ideal societário, no qual a globalização traz como lógica os princípios de hegemonia e exclusão” (p. 123)
Os movimentos contra-hegemônicos, pressionam tanto o mercado como o Estado e vêm colocando o Brasil, numa posição de destaque em relação aos outros países latino-americanos, pois não aceitam o manejo do mercado para fortalecer uma “catalaxia, ou seja, um ordenamento mercadológico do mundo, para além de qualquer desígnio humano” (Sodré, 2002, p. 14). </p>
<p>Tais organizações sociais fazem a diferença no compartilhamento de informação que salvam vidas. É nesse ponto que duas tipificações da Publicidade Social brasileira vêm contribuindo não só com a criação da plataforma, como também com a elaboração do conteúdo através do próprio princípio que é envolver a Sociedade Civil em todas as etapas da causa em questão. Desta forma, a tipificação de causa tem fundamentos conectados à “agenda das organizações internacionais (OMS, OMC) e instituições intergovernamentais como a ONU (Saldanha, 2022, p. 297) e a tipologia de Interesse Público, se baseia na “escuta’ sem impor nem se pautar nos interesses da classe dominante (Saldanha, 2022, p. 297).</p>

<p>Apesar de termos 13 milhões de pessoas no Brasil afetadas por algum tipo de doença rara, não se nota a participação da população desamparada em discussões de ampla visibilidade nem a representação em dados oficiais disponibilizados pelo Estado. 
    Este apagamento não significa a inexistência da doença rara na população pobre, mas pode indicar que uma parcela da população afetada por esse tipo de patologia tenha sido excluída do processo antes mesmo de chegar à atenção primária à saúde (APS) em unidades básicas de saúde.</p> 
<p>Com base na “escuta’ sem impor nem nos pautarmos nos interesses da classe dominante convidamos quem vive o drama da doença rara  para participar da construção deste espaço de maneira coletiva, com linguagem fácil e acessível, com a própria voz.</p>
                </div>

                <div class=" mt-4 mb-5 reg" style="color: #000;font-size: 20px; line-height: 26px;max-width: 749px; word-wrap: break-word; overflow-wrap: break-word;">
Nossa missão vai além de informar — queremos transformar informação em cidadania. 
Conectamos pacientes, famílias e profissionais de saúde, criando uma rede de apoio e conscientização que fortalece a luta por direitos e inclusão.
Conheça, compartilhe e faça parte desta causa para juntos, tornarmos o invisível visível. Porque você pode não ver, mas a gente sente.
                </div>
                
            </div>

          </div>
          
        </div>
    
</body>
{% endblock %}
