{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "About" %}{% endblock %}

{% block list_of_items %}
<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />
<body>
 
    <div class="container p-0" >
      <div
          class="border-top "
          style="
            
            margin-top: 0%;
            margin-bottom: 3%;
            border: 3px solid #114D7F;
          "
        ></div>
        <div class="row justify-content-between mx-2" >
          
            <!-- Coluna Principal -->
            <div class="col-md-8 ">
                

                <div class="text-about mb-3 font-weight-bold " style=" line-height: 26px;  word-wrap: break-word; overflow-wrap: break-word;">
                    Sobre o projeto
                </div>
                <div class="mt-4 mb-5 reg" style="color: #000;font-size: 20px; line-height: 26px;max-width: 749px;  word-wrap: break-word; overflow-wrap: break-word;">
                    O monitoramento cidadão costeiro é uma iniciativa extensão da chamada PROEX UFPB nos municípios de 2022, que busca formar núcleos de monitoramento
                    participativo na zona costeira do município de Conde, Paraíba. A ação de extensão busca ampliar o escopo de uso de tecnologias digitais de mapeamento
                    participativo, buscando fortalecer ações existentes no município com uma proposta de participação cidadã em parceria com a gestão municipal para coleta
                    de dados de monitoramento de praias e vida marinha. O objetivo é implantar bases fixas de monitoramento de praias que permitam qualquer cidadão local ou
                    turista, usando um aplicativo de celular – o 
                    <span class=" font-weight-normal text-decoration-underline">
                        CoastSnap
                    </span>
                    , registre uma observação de mudanças no ambiente de praias de Conde, como quantidade de resíduos/lixo, erosão costeira, ou alteração do nível da maré.
                    A ação de extensão conta com apoio da gestão municipal de Conde, por meio da Secretaria de Meio Ambiente, além do 
                    <span class=" font-weight-normal text-decoration-underline">
                        Instituto Parahyba de Sustentabilidade (IPAS)
                    </span>
                    .
                </div>

                <div class="my-3 font-weight-bold  text-about" style=" line-height: 26px; word-wrap: break-word; overflow-wrap: break-word;">
                    Como participar
                </div>
                <div class=" mt-4 mb-5 reg" style="color: #000;font-size: 20px; line-height: 26px;max-width: 749px; word-wrap: break-word; overflow-wrap: break-word;">
                    Entre em contato com a equipe CoastSnapCondePB através das mídias sociais:<br/>
                    Instagram | https://www.instagram.com/coastsnapcondepb/?igshid=YmMyMTA2M2Y%3D<br/>
                    Twitter | https://twitter.com/CoastsnapConde?s=20&t=GRZ8UmJjav6Sj3QW0j0nWg<br/>
                    Ou via contato com equipe do Instituto Parahyba de Sustentabilidade (IPAS) | https://ongipas.org.br/
                </div>
                
                <div class="my-3 font-weight-bold  text-about" style=" line-height: 26px;  word-wrap: break-word; overflow-wrap: break-word;">
                    Equipamentos necessários
                </div>
                <div class=" mt-4 mb-5 reg" style="color: #000;font-size: 20px; line-height: 26px; font-weight: 400; max-width: 749px;  word-wrap: break-word; overflow-wrap: break-word;">
                    Um telefone celular Android ou Iphone
                </div>
            </div>

            <!-- Coluna Secundária -->
            <div class="col-md-3" >
              <div class="d-flex flex-column gap-3">
                  <!-- Palavras-chave -->
                  <div class="mb-3">
                      <div class="sob-block" style="gap: 20px;">
                          <div class="sob-block" style="gap: 8px;">
                              <div class="tit-block">Palavras-chave</div>
                              <div class="row">
                                  <div class="col-auto mb-2">
                                      <div class="block" style="background: #D9D9D9; height: 30px;">
                                          <div class="txt" style="color: black; font-size: 15px;">Ecossistemas Marinho-Costeiros</div>
                                      </div>
                                  </div>
                                  <div class="col-auto mb-2">
                                      <div class="block" style="background: #D9D9D9;height: 30px;">
                                          <div class="txt" style="color: black; font-size: 15px;">Monitoramento Cidadão</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="mb-3">
                    <div class="sob-block" style="gap: 20px;">
                        <div class="sob-block" style="gap: 8px;">
                            <div class="tit-block">Temas relevantes</div>
                            <div class="row">
                                <div class="col-auto mb-2">
                                    <div class="block" style="background: #D9D9D9; height: 30px;">
                                        <div class="txt" style="color: black; font-size: 15px;">Ecossistemas Marinho-Costeiros</div>
                                    </div>
                                </div>
                                <div class="col-auto mb-2">
                                    <div class="block" style="background: #D9D9D9;height: 30px;">
                                        <div class="txt" style="color: black; font-size: 15px;">Monitoramento Cidadão</div>
                                    </div>
                                </div>
                                <div class="col-auto mb-2">
                                  <div class="block" style="background: #D9D9D9;height: 30px;">
                                      <div class="txt" style="color: black; font-size: 15px;">Monitoramento Cidadão</div>
                                  </div>
                              </div>
                              <div class="col-auto mb-2">
                                <div class="block" style="background: #D9D9D9;height: 30px;">
                                    <div class="txt" style="color: black; font-size: 15px;">Monitoramento Cidadão</div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
          
                  
                
              </div>
          </div>
          
        </div>


        <div class="container mt-5 p-0 mx-2">
          <!-- Título alinhado à esquerda -->
          <h2 class="text-left text-about">Compartilhe o Projeto</h2>
      
          <!-- Linha com o link e o botão -->
          <div class="d-flex align-items-center mt-3 bck-azul" style="max-width: 560px; height: 50px; border-radius: 100px;">
              <input 
              type="text" class="form-control form-control-sm mr-2 bck-azul" 
              style="font-size: 20px; background-color: transparent; color: white; border: none; border-radius: 100px; padding-left: 1.5rem; padding-right: 0; width: 90%;" 
              value="join.yourcompany.io/project" readonly>
              <div class="btn btn-sm"> <img src="/static/site/img/botabout.svg" style="width: 25px; height: 25px; " >
              </div>
          </div>
      
          <!-- Linha com três botões lado a lado em telas maiores -->
          <div class="d-flex flex-column flex-md-row mt-3 ">
              <button class="btn btn-secondary btn-sm" style="max-width: 173px;width: 10rem; font-size: 20px; background-color: transparent; color: #175CD3; border: 2px solid #3D99F4; border-radius: 100px; margin-right: 1%;">Instagram</button>
              <button class="btn btn-secondary btn-sm" style="max-width: 173px; width: 10rem;font-size: 20px; background-color: transparent; color: #175CD3;border: 2px solid #3D99F4; border-radius: 100px;margin-right: 1%;">Facebook</button>
              <button class="btn btn-secondary btn-sm" style="max-width: 173px; width: 10rem;font-size: 20px; background-color: transparent; color: #175CD3;border: 2px solid #3D99F4; border-radius: 100px;margin-right: 1%;">WhatsApp</button>
          </div>



         
      </div>
      
      
    </div>
</body>
{% endblock %}
