{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Diagnostico" %}{% endblock %}
{% block list_of_items %}
<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />

<body>

  <div class="container mt-1 p-0" >
  <div class="border-top  line mx-0 mb-4"></div>
  <h1 class="mt-5  text-blue3" style="text-align: center; margin-bottom: 2%;">{% trans "Diagnosis" %}</h1>


  <!-- Busca -->
  <div class="input-group mb-3 " style=" width: auto;">
    <button class="btn btn-outline-secondary" type="button" id="button-addon1">
      bttn
    </button>
    <input type="text" class="form-control" placeholder="Busca..." aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

<!-- Botoes de filtro e ordenação-->

  <div class="btn-group " role="group" style="margin-bottom: 4%;">
    
    
    <!-- Botao de ordenar o conteúdo -->

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="background: #F2F4F7; border-radius: 0.25rem; margin-right: 1rem;">
      <div class="container center" > 
        <img src="img/order-icon.png"  alt="" width="20" height="20">
      </div>
      <div class="btn-group" role="group">
        <button type="button bot" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black; border-color:  #F2F4F7;">
          Ordernar por:
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Ordem Alfabetica</a></li>
          <li><a class="dropdown-item" href="#">Sintomas</a></li>
        </ul>
      </div>
    </div>


    <!-- Filtros (grupo) -->

    <div class="input-group input-group-sm filter-bar " >
      <div class="input-group-text filter-img" style="background-color:  #F2F4F7; border-color: #F2F4F7;">
          <img src="img/filter-icon.png" alt="">
      </div>

      <!-- filtro1 -->
      <select id="country" name="country" class="custom-select status-select form-control" style="border-color: #F2F4F7;">
          <option value="">Estado</option><option></option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapa</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceara</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiais</option>
            <option value="MA">Maranhao</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Para</option>
            <option value="PB">Paraiba</option>
            <option value="PR">Parana</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piaui</option>
            <option value="RJ">Rio de Janeirp</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondonia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">Sao Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>

      </select>

      <!-- filtro2 -->

      <select id="status" name="status" class="custom-select status-select form-control" style="border-color: #F2F4F7;"> 
          <option value="">Sintomas</option>
          <option></option>
          <option value="Ativo">Ativo</option>
          <option value="Concluído">Concluído</option>
          <option value="Inativo">Inativo</option>
          <option value="Não iniciado">Não iniciado</option>
          <option value="Pausado">Pausado</option>
          <option value="Sem informação">Sem informação</option>
          
      </select>      
    </div>
  </div>

  <div class="row " style="margin-bottom: 5%;">
    {% for post in posts %}
        {% include "inform_card.html" %}
    {% endfor %}
  </div>

<div class="col-lg-12 d-flex justify-content-center" >
  {% include "partials/pagination.html" %}
</div>
 
</body>
{% endblock %}
