{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Doencas" %}{% endblock %}
{% block list_of_items %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Doencas</title>
  </head>
  <body >
    
    <div class="container" style="margin-left: 5%;">
      <h7 class="pg-tittle">Doenças</h7>
    </div>

    <div class="border-top line"></div>

    <!-- CONTEÚDO PÁGINA DOENÇAS -->

   <br>

   <div class="container mt-5" >
        
   <!-- Busca -->

    <div class="input-group mb-3 " style=" width: auto;">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1">
        bttn
      </button>
      <input type="text" class="form-control" placeholder="Busca..." aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>

  <!-- Botoes de filtro e ordenação-->

  <div class="btn-group" role="group" >
    
    
    <!-- Botao de ordenar o conteúdo -->

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown" style="background: #F2F4F7; border-radius: 0.25rem; margin-right: 1rem;">
      <div class="container center" > 
        <img src="img/order-icon.png"  alt="" width="20" height="20">
      </div>
      <div class="btn-group" role="group">
        <button type="button bot" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black; border-color:  #F2F4F7;">
          Ordernar por:
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Ordem Alfabetica</a></li>
          <li><a class="dropdown-item" href="#">Sintomas</a></li>
        </ul>
      </div>
    </div>


    <!-- Filtros (grupo) -->

    <div class="input-group input-group-sm filter-bar" >
      <div class="input-group-text filter-img" style="background-color:  #F2F4F7; border-color: #F2F4F7;">
          <img src="img/filter-icon.png" alt="">
      </div>

      <!-- filtro1 -->
      <select id="country" name="country" class="custom-select status-select form-control" style="border-color: #F2F4F7;">
          <option value="">Estado</option><option></option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapa</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceara</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espirito Santo</option>
            <option value="GO">Goiais</option>
            <option value="MA">Maranhao</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Para</option>
            <option value="PB">Paraiba</option>
            <option value="PR">Parana</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piaui</option>
            <option value="RJ">Rio de Janeirp</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondonia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">Sao Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>

      </select>

      <!-- filtro2 -->

      <select id="status" name="status" class="custom-select status-select form-control" style="border-color: #F2F4F7;"> 
          <option value="">Sintomas</option>
          <option></option>
          <option value="Ativo">Ativo</option>
          <option value="Concluído">Concluído</option>
          <option value="Inativo">Inativo</option>
          <option value="Não iniciado">Não iniciado</option>
          <option value="Pausado">Pausado</option>
          <option value="Sem informação">Sem informação</option>
          
      </select>      
    </div>
  </div>

  <br><br><br>

  <div class="container" ><i>Foram encontrados 3 resultados</i></div>  <!-- Necessario implementar uma forma de que corresponda ao numero de resultados -->

  <br><br>

  <div class="container text-center" >
    
    <!-- grupo de cards de doenças-->

    <div class="row">
        
      <!-- cards -->

      <div class="col-lg-3 col-sm-6 col-12 mb-5 ">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>


      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-sm-6 col-12 mb-5">
        <div class="card h-100 border-1 " style=" border-radius: 25px; text-align: start;">
          <img src="img/img1.png" class="img-fluid imgcard img-card ls-is-cached lazyloaded" alt="..."  />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text" style="text-align: justify;">
              En este proyecto nos podés ayudar a recopilar datos que nos permitan entender la problemática de los microplásticos en el país. Nuestro objetivo es realizar de manera colaborativa un estudio …
              tex
                    
            </p>
            <a href="#" class="btn btn-primary bttn">Go somewhere</a>
          </div>
        </div>
      </div>

    </div>
  
  </div>
  </div>
  


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
{% endblock %}
