{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Eventos" %}{% endblock %}
{% block list_of_items %}
<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />

  <body class="d-flex flex-column min-vh-100">
    <div class="container" style="
    margin-left: 5%;">
      <h7 style="color: #a167a5;; 
      font-size: 50px; 
      font-weight: 900; 
      text-align: justify; 
      ">Eventos</h7>
   </div>
    <div
      class="border-top my-3"
      style="
        margin-top: 2rem;
        border: 3px solid #a167a5;
        margin-right: 5%;
        margin-left: 5%;
      "
    ></div>
    
    <div style="text-align: center;">
      <h7 style="color: #a167a5; font-size: xx-large; font-weight: 900; text-align: justify;"> Eventos Futuros</h7>
   </div>
    <div class="container">
      <div class="row pb-5 d-flex justify-content-center">
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="row pb-5 d-flex justify-content-center">
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div style="text-align: center;">
        <h7 style="color: #a167a5; font-size: xx-large; font-weight: 900; text-align: justify;"> Eventos Passados</h7>
     </div>
       <div class="row pb-5 d-flex justify-content-center">
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="/img/img1.png" class="card-img-top" alt="..." style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
{% endblock %}
