{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Noticias" %}{% endblock %}
{% block list_of_items %}

<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />
<body class="d-flex flex-column min-vh-100">
    <div
      class="border-top my-3"
      style="
        margin-top: 2rem;
        border: 3px solid #a167a5;
        margin-right: 5%;
        margin-left: 5%;
      "
    ></div>

    <!-- CONTEÚDO PÁGINA NEWS -->

    <div class="container">
      <div class="row pb-5 d-flex justify-content-center">
        {% for post in posts %}
        <div class="card col-lg-3 col-md-6 col-sm-12 shadow bg-body me-3 mt-3" style="width: 18rem; border-radius: 35px; padding-bottom: 10rem;">
          <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="border-radius: 35px; width: 100%;" />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">{% trans "Read more" %}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

</body>
{% endblock %}


