{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: {% trans "Parceiro" %}{% endblock %}
{% block list_of_items %}
<link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />

<body>

  <div class="d-flex flex-column min-vh-100 div">
    <div class="mb-5">
    <h1 class="text-center text-home reg azul mb-5 "
                  style="
                  
                  letter-spacing: 0px;
                  line-height: 3.3rem;
                  font-style: normal;">Quer ser um parceiro ?</h1>

    <div class="container my-2 justify-content-start" style="padding-right: 5%; padding-left: 5%">
      <div class="ratio ratio-16x7 text-center video-sejaumparceiro" style="text-align: center;">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qxOkaU6RVz4?si=Vt0tWELxwHqwKe47"
          allowfullscreen style="border-radius: 10px;"></iframe>
      </div>
    </div>
  </div>

    <div class="container-fluid row" style="background-color: #5CDCFF; padding: 0; margin: 0;">
      <div class="row no-gutters align-items-center" style="margin: 0; padding: 0;">
  
        <div class="col-3 d-flex justify-content-start align-items-center my-2" style="padding: 0; margin: 0;">
          <img src="{% static '/site/img/Vector.png'%}" alt="Imagem" style="max-width: 100%; max-height: 473px; width: auto; height: auto;">
      </div>
      
    
        
      <div class="mx-4 col-7 col-sm-auto d-flex justify-content-center align-items-center" style="padding: 0; margin: 0;">
        <div class="container-fluid d-flex flex-column justify-content-center" style="max-width: 290px; padding: 0; margin: 0;">
          <h1 class="text-home reg azul-escuro" style=" font-size:  min(8vw, 60px); font-weight: 400; text-align: start; margin: 0; line-height: 1.2; min-width: 0; ">
            Textinho sobre parceiros
          </h1>
          
          
        
        </div>
    </div>
    
    <div class=" my-3 col-lg-5 col-12 d-flex flex-column justify-content-center align-items-center" style="padding: 0 20px; margin: 0;">
      <form class="w-100 justify-content-center" style="max-width: 600px;">
        <div class="mb-3 mx-auto" style="max-width: 600px;">
          <input type="text" class="input-about form-control rounded-pill bck-azul" id="nome" placeholder="Nome:" style="border: none; min-height: 50px; max-width: 600px; width: 100%; border-radius: 100px; text-align: left;">
        </div>
        <div class="mb-3 mx-auto" style="max-width: 600px;">
          <input type="email" class="input-about form-control rounded-pill bck-azul" id="email" placeholder="E-mail:" style="border: none; min-height: 50px; max-width: 600px; width: 100%; border-radius: 100px; text-align: left;">
        </div>
        <div class="mb-3 mx-auto" style="max-width: 600px;">
          <input type="tel" class="input-about form-control rounded-pill bck-azul" id="telefone" placeholder="Telefone:" style="border: none; min-height: 50px; max-width: 600px; width: 100%; border-radius: 100px; text-align: left;">
        </div>
        <div class="mb-3 mx-auto bck-azul" style="border: none; min-height: 135px; max-width: 600px; width: 100%; 
        border-radius: 35px; text-align: left; vertical-align: top; padding: 15px;">
        <textarea class="form-control bck-azul input-about p-0" id="forma" placeholder="Forma:" 
            style="border: none; min-height: 135px; max-width: 600px; width: 100%; 
             text-align: left; padding-top: 5px; padding-left: 10px; 
            vertical-align: top; resize: none;"></textarea>
    </div>
    
    
        <div class="mb-3 mx-auto" style="max-width: 600px;">
         </div>
        <div class="d-flex justify-content-end" style="max-width: 600px ;">
          <button data-bs-toggle="modal" data-bs-target="#modalsubmit" class="btn me-2 bg-white text-decoration-none text-nowrap sbld" style="font-size: 22px; border-radius: 25px; font-weight: 600; color: #114d7f; width: 100%; height: 50px;" type="submit">
            Enviar
          </button>
        </div>
      </form>
    </div>
    
    
      </div>
    </div>
    <div class="my-5 container">
      <h1 class="text-center text-home reg azul mb-5 "
      style="
      
      letter-spacing: 0px;
      line-height: 3.3rem;
      font-style: normal;">Orientações e Normas para ser um parceiro</h1>
      <p class="col-9 w-auto text-orientacoes mdm"
                    style="
                      font-size: 20px;
                      color: black;
                      letter-spacing: 0;
                      line-height: 2rem;">
       Você sabia que mais de 13 milhões de brasileiros convivem com doenças raras, muitas vezes sem acesso adequado a informações, diagnósticos e tratamentos? Em um cenário onde a conscientização e o apoio são essenciais, nossa plataforma se tornou um espaço fundamental para informar, conectar e apoiar aqueles que enfrentam essas condições raras e complexas. Agora, estamos convidando você a se juntar a essa missão como parceiro da nossa plataforma!
       Se você representa uma instituição de saúde, uma organização de apoio ou uma associação, tornar-se um parceiro pode ser uma maneira transformadora de impactar positivamente a vida de milhares de pessoas que precisam de apoio, informações e soluções sobre doenças raras.
       Caso deseje mais informações sobre como ser parceiro da nossa plataforma, não hesite em entrar em contato. Vamos juntos criar uma rede de apoio vital para aqueles que convivem com condições raras.

    </div>

  </div>

</body>

{% endblock %}
