{% extends "./base_template_profiles.html" %}
{% load i18n %}
{% block profile_right %}
{% if show_user.profile.bio %}
<h3 class="col-12 leftborder text-blue3">{% trans "Bio and disciplinary background" %}</h3>
{{ show_user.profile.bio | safe }}
{% endif %}

{% if show_user.profile.interestAreas.all %}
<h4 class="col-12 leftborder mt-4">{% trans "Functions" %}</h4>
{% for area in show_user.profile.interestAreas.all %}
<span class="badge bg-blue2">{{ area }}</span>
{% endfor %}
{% endif %}

{% if show_user.profile.organisation.all %}
<h4 class="col-12 leftborder mt-4">{% trans "Organisations" %}</h4>
<div class="row">
    {% for organisation in show_user.profile.organisation.all %}
    <div class="col-12 col-md-6">
        {% include "horizontal_card_organisation.html" %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if periodos %}
<h4 class="col-12 leftborder mt-4 mb-3">{% trans "Participated periods" %}</h4>

<div class="timeline-clean-container">
    <div class="period-timeline">
        {% for periodo in periodos %}
            <div class="period-item">
                <!-- Nó centralizado: bolinha + texto embaixo -->
                <div class="period-node">
                    <div class="period-dot"></div>
                    <span class="period-label text-blue2 fw-bold">{{ periodo }}</span>
                </div>
                
                <!-- Linha conectora apenas entre os itens -->
                {% if not forloop.last %}
                    <div class="period-line"></div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock profile_right %}
