{% block html_body  %}
{% autoescape off %}

Olá, {{ user.name }}

Recebemos sua solicitação para redefinição de senha para acesso à plataforma Civis.

Para criar uma nova senha, é só clicar no link abaixo:
{% block reset_link %}
{{domain}}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
{% endblock %}
O link é válido por {{ PASSWORD_RESET_TIMEOUT_HOURS }} horas.

Caso não tenha solicitado a alteração de senha, ignore esta mensagem e sua senha atual será mantida.

Se quiser falar conosco, escreva para civis@ibict.br.

Este é um e-mail automático, NÃO responda.

Saudações,
Equipe Civis

{% endautoescape %}
{% endblock html_body %}