{% load i18n %}
{% load static %}
<div class="modal fade" id="modalsubmit">
    <div class="modal-dialog mdialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="fw-300">{% trans "What do you want to submit?" %}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="menu-item mb-5">
                    <h4><a  href="/newProject" class="link-menu-submit" class="colorred"><img src="{% static '../static/site/icons/icon-iniciativas-pink.png' %}" alt=""> {% trans "Project" %}</a></h4>
                    <p class="fw-500">{% trans "Register a citizen science project" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/newResource" class="link-menu-submit" class="colorgreen"><img src="{% static '../static/site/icons/icon-recursos-pink.png' %}" alt=""> {% trans "Resource" %}</a></h4>
                    <p class="fw-500">{% trans "Register a citizen science resource" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/newTrainingResource" class="link-menu-submit" class="colorlightblue"><img src="{% static '../static/site/icons/icon-treinamentos-pink.png' %}" alt=""> {% trans "Training" %}</a></h4>
                    <p class="fw-500">{% trans "Register a course or educational material related to citizen science" %}</p>
                </div>
                <div class="menu-item mb-5">
                    <h4><a href="/new_event" class="link-menu-submit" class="colororange"><img src="{% static '../static/site/icons/icon-eventos-pink.png' %}" alt=""> {% trans "Event" %}</a></h4>
                    <p class="fw-500">{% trans "Register a citizen science event" %}</p>
                </div>
                {% if user.is_staff %}
                <div class="menu-item mb-5">
                    <h4><a href="/newPlatform" class="link-menu-submit"><img src="{% static '../static/site/icons/icon-plataformas-pink.png' %}" alt=""> {% trans "Platform" %}</a></h4>
                    <p class="fw-500">{% trans "Register a citizen science platform" %}</p>
                </div>
                {% endif %}
                <div class="menu-item mb-5">
                    <h4><a href="/new_organisation" class="link-menu-submit"><img src="{% static '../static/site/icons/icon-organizacoes-pink.png' %}" alt=""> {% trans "Organisation or Network" %}</a></h4>
                    <p class="fw-500">{% trans "Register your organisation or network" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
