<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load cookielaw_tags %}
{% load countries %}
{% load active_link_tags %}
{% get_countries as countries %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.png' %}">
    <title>
        {% block title %}
        Civis - Plataforma de Ciência Cidadã 
        {% endblock title%}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'site/css/eu-citizen_science.css' %}?v=2" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script src="{% static 'site/js/lazysizes.min.js' %}" async></script>
    <script src="{% static 'site/js/eu-citizen_science.js' %}?v=2"></script>
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"-->
    <!--link rel="stylesheet" href="{% static 'site/css/style_11_01_2021.css' %}"-->
    <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
    {% endblock head %}
    {% block meta %}
    {% endblock meta %}
</head>

<body class="d-flex flex-column min-vh-100">
<!-- navbar raras -->
<nav class="navbar d-flex  sticky-top mb-4 p-3"  style="background-color: #A167A5;">
    <div class="col-8 flex-fill" >
        <div class="container-fluid d-flex flex-row ">
            <div style="background-color: #A32432;" >
                <img src="{% static 'site/img/logos/logo_raras.svg'%}" alt="" style="height:5rem;" >
                    
            </div>
            <div class="d-flex bg-primary justify-content-around">
                <div class="d-flex flex-column pt-3">
                    <div>Saudes</div>
                    <div>Raras</div>
                </div>
                <div class="pt-3">
                    <button class="btn btn-outline-light">Inicio</button>
                </div>
                <div class="pt-3">
                    <button class="btn btn-outline-light">Sobre</button>
                </div>
                <div class="pt-3">
                    <button class="btn btn-outline-light"> News</button>
                </div>
                <div class="pt-3">
                    <button class="btn btn-outline-light">Eventos</button>
                </div>
            </div>
        </div>
    </div>
    <div id="createAccount" class="d-flex justify-content-end col-4">
        <button class="btn btn-outline-light" type="submit">Entrar</button>
        <button class="btn btn-outline-light" type="submit">Criar Conta</button>
    </div>
</nav>


    <!-- navbar CIVIS -->
    <!-- <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-white" id="navTop">
        Navbar 
         <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPrincipal"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img data-src="{% static 'site/img/logos/civis.svg' %}" width="90" height="" alt="" class="lazyload"/>
                <div class="titulo-logo ms-2 ps-2">{% trans "Citizen Science <br> Platform" %}</div>
            </a>
            <div class="collapse navbar-collapse" id="navbarPrincipal">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item top">
                        <a class="nav-link main {% active_link 'all || projects || resources || training_resources || organisations'%}"
                            href="{% url 'projects' %}">{% trans "Search" %}
                        </a>
                    </li>
                    
                    <li class="nav-item top">
                        <a class="nav-link main {% active_link  'about' %}" href="/about">{% trans "About" %}</a>
                    </li>
                     <li class="nav-item top">
                        <a class="nav-link main {% active_link  'events' %}" href="{% url 'events' %}">{% trans "Events " %}</a>
                    </li>
                    <li class="nav-item top">
                        <div class="d-block">
                            {% if FORUM_ENABLED %}
                              <a class="nav-link main {% active_link  'forum' %}" href="{% url 'forum:index' %}">{% trans "Forum" %}</a>
                            {% else %}
                              <a class="nav-link main {% active_link  'forum' %}" href="{% url 'coming_soon' %}">{% trans "Forum" %}</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item top">
                        <div class="d-block">
                            <a class="nav-link main {% active_link  'blog' %}" href="{% url 'blog' %}">{% trans "Blog" %}</a>
                        </div>
                    </li>
                    <li class="nav-item top">
                        <div class="d-block">
                            <a class="nav-link main {% active_link  'guide' %}" href="{% url 'guide' %}">{% trans "User Guide" %}</a>
                        </div>
                    </li>
                    <li class="nav-item top">
                        <div class="d-block">
                            <a class="nav-link main {% active_link  'contact' %}" href="{% url 'contact' %}">{% trans "Contact" %}</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" href="#">
                            {{LANGUAGE_CODE}}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                            <form action="/i18n/setlang/" method="post" style="display: inline;" name="languageForm">
                                {% csrf_token %}
                                <div style="display: inline;">
                                    <input id="language" name="language" type="hidden" value="en">
                                    {% for lang in TRANSLATED_LANGUAGES %}
                                    <li><a class="dropdown-item" style="cursor: pointer;"
                                            onclick="javascript:document.getElementById('language').value='{{ lang.0 }}';languageForm.submit()">
                                            {{ lang.1 }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </div>
                            </form>
                        </ul>
                    </li>
                </ul>

                {% if not user.is_authenticated %}
                <a class="btn btn-my-outline-darkBlue d-lg-inline-block my-1 my-md-0 ms-md-2"
                    href="{% url 'accounts:login' %}">{% trans "Login" %}</a>
                <a class="btn btn-my-outline-darkGreen d-lg-inline-block my-1 my-md-0 ms-md-2"
                    href="{% url 'accounts:signup' %}">{% trans "Signup" %}</a>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownRegistered" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-user-edit"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownRegistered">
                            <li><a class="dropdown-item" href="{% url 'profiles:show_self' %}">{% trans "My personal area" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'profiles:self_submissions' %}">{% trans "My submissions" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'profiles:bookmarks' %}">{% trans "My bookmarks" %}</a></li>
                            <li><a class="dropdown-item" href="{% url 'profiles:privacyCenter' %}">{% trans "My privacy center" %}</a></li>

                            {% if user.is_staff %}
                            <li><a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "Admin" %}</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans "Logout" %}</a>
                            </li>
                        </ul>

                    </li>
                </ul>
                <button data-bs-toggle="modal" data-bs-target="#modalsubmit" class="btn btn-my-outline-darkBlue"
                    type="submit">
                    <i class="fas fa-paper-plane"></i>&nbsp;&nbsp;{% trans "New submission" %}
                </button>

                {% endif %}
            </div>
        </div>
    </nav> -->
    <!--/.Navbar-->

    <main class="flex-fill">
        {% include "_modalsubmit.html" %}
        {% block splash %}
        {% endblock splash %}
        <div class="container">
            <div class="col-12">
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% block list_of_items %}
        {% endblock list_of_items %}
    </main>
    {% cookielaw_banner %}
    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet"-->
    <link rel="stylesheet" href="{% static 'styles/cropper.min.css' %}">
    <script type="text/javascript" src="{% static 'scripts/lazysizes.min.js' %}"></script>
    <script src="{% static 'scripts/cropper.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    <script>
        $(document).ready(function () {

            getForumResponsesNumber();

            function getForumResponsesNumber() {
                var request = $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'getForumResponsesNumber' %}",
                        data: {

                        },
                        success: function (response) {
                            var forumresponses = response.forumresponses
                            if (forumresponses > 0) {
                                $("#forumHeader").html('<a class="nav-link main" href="/forum">{% trans "FORUM" %}<sup>' + forumresponses + '</sup></a>');
                            }
                        }
                    }
                );
            }

        });
    </script>
    <script>
        $(".navbar-toggler-icon").click(function () {
            if ($(".ribbon-top-left").is(":visible")) {
                $(".ribbon-top-left").hide();
            } else {
                $(".ribbon-top-left").show();
            }
        });

        $('#mysearch').click(function () {
            $('#finder').submit();
        });
        $('#backsign').click(function () {
            $('#keywords').val('');
            $('#backsign').html('')
        });

        $('.basicAutoComplete').keyup(function () {
            if (($(".basicAutoComplete").val().length) > 0) {
                $('#backsign').html('<i class="fas fa-backspace"></i>')
            } else {
                $('#backsign').html('')
            }
        });

    </script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>