<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load cookielaw_tags %}
{% load countries %}
{% load active_link_tags %}
{% get_countries as countries %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'site/ico/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'styles/saude_raras/style.css' %}" />
    <title>
        {% block title %}
        Saúdes Raras - Plataforma de Ciência Cidadã
        {% endblock title%}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'site/css/eu-citizen_science.css' %}?v=2" rel="stylesheet" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>

    <script src="{% static 'site/js/lazysizes.min.js' %}" async></script>
    <script src="{% static 'site/js/eu-citizen_science.js' %}?v=2"></script>
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"-->
    <!--link rel="stylesheet" href="{% static 'site/css/style_11_01_2021.css' %}"-->
    <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}">
    {% endblock head %}
    {% block meta %}
    {% endblock meta %}
</head>

<body class="d-flex flex-column min-vh-100">
<!-- navbar raras -->
<!-- bootstrap  -->
  
  <nav class="navbar navbar-expand-lg navbar-light sticky-top mb-5" style="background-color: #A167A5; padding-bottom:1rem; padding-top: 1rem;">
    <div class="container d-flex" style="padding-left: 5rem; padding-right: 5rem;">
        <!-- Logo e Texto -->
        <a class="navbar-brand d-flex mb-2" href="/">
            <img src="{% static 'site/img/logos/logo_raras.svg'%}" alt="Logo" class="d-inline-block align-top">
            <div class="text-white ms-3 mt-3" style="align-self: center;">
                <div class="lh-1" style="font-size: 1.7rem;">
                    Saúdes
                </div>
                <div class="lh-1" style="font-size: 1.7rem;">
                    Raras
                </div>
            </div>
        </a>

        <!-- Botão de alternância para menu responsivo -->
        <button class="navbar-toggler mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="align-self: center;">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links no Meio -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="navbar-nav mx-auto mb-2">
                <a href="/" class="btn bg-white me-2 mt-2 text-decoration-none " style="border-radius: 25px; font-weight: 600; color: #A167A5;">Home</a>
                <a href="/about/" class="btn bg-white me-2 mt-2 text-decoration-none " style="border-radius: 25px; font-weight: 600; color: #A167A5;">Sobre</a>
                <a href="/eventos/" class="btn bg-white me-2 mt-2 text-decoration-none " style="border-radius: 25px; font-weight: 600; color: #A167A5;">Eventos</a>
                <a href="/noticias/" class="btn bg-white me-2 mt-2 text-decoration-none " style="border-radius: 25px; font-weight: 600; color: #A167A5;">Notícias</a>
            </div>
        </div>
        
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" href="#">
                            {{LANGUAGE_CODE}}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
                            <form action="/i18n/setlang/" method="post" style="display: inline;" name="languageForm">
                                {% csrf_token %}
                                <div style="display: inline;">
                                    <input id="language" name="language" type="hidden" value="en">
                                    {% for lang in TRANSLATED_LANGUAGES %}
                                    <li><a class="dropdown-item" style="cursor: pointer;"
                                            onclick="javascript:document.getElementById('language').value='{{ lang.0 }}';languageForm.submit()">
                                            {{ lang.1 }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </div>
                            </form>
                        </ul>
                    </li>
                </ul>

        
        <!-- Botões à Direita -->
        {% if not user.is_authenticated %}
        <div class="d-flex flex-nowrap ">
            <a href="/signup/" class="btn me-2 bg-white text-decoration-none text-nowrap " style="border-radius: 25px; font-weight: 600; color: #A167A5;">Criar Conta</a>
            <a href="/login/" class="btn bg-white text-decoration-none " style="border-radius: 25px; font-weight: 600;      color: #A167A5; justify-content: center;">Entrar</a>
        </div>
        {% endif %}
        
    </div>
</nav>
    <main class="flex-fill">
        {% include "_modalsubmit.html" %}
        {% block splash %}
        {% endblock splash %}
        <div class="container">
            <div class="col-12">
                {% for message in messages %}
                <div class="container-fluid p-0">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% block list_of_items %}
        {% endblock list_of_items %}
    </main>
    {% cookielaw_banner %}
    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!--link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet"-->
    <link rel="stylesheet" href="{% static 'styles/cropper.min.css' %}">
    <script type="text/javascript" src="{% static 'scripts/lazysizes.min.js' %}"></script>
    <script src="{% static 'scripts/cropper.min.js' %}"></script>
    <script src="{% static 'scripts/jquery-cropper.min.js' %}"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
    <script>
        $(document).ready(function () {

            getForumResponsesNumber();

            function getForumResponsesNumber() {
                var request = $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'getForumResponsesNumber' %}",
                        data: {

                        },
                        success: function (response) {
                            var forumresponses = response.forumresponses
                            if (forumresponses > 0) {
                                $("#forumHeader").html('<a class="nav-link main" href="/forum">{% trans "FORUM" %}<sup>' + forumresponses + '</sup></a>');
                            }
                        }
                    }
                );
            }

        });
    </script>
    <script>
        $(".navbar-toggler-icon").click(function () {
            if ($(".ribbon-top-left").is(":visible")) {
                $(".ribbon-top-left").hide();
            } else {
                $(".ribbon-top-left").show();
            }
        });

        $('#mysearch').click(function () {
            $('#finder').submit();
        });
        $('#backsign').click(function () {
            $('#keywords').val('');
            $('#backsign').html('')
        });

        $('.basicAutoComplete').keyup(function () {
            if (($(".basicAutoComplete").val().length) > 0) {
                $('#backsign').html('<i class="fas fa-backspace"></i>')
            } else {
                $('#backsign').html('')
            }
        });

    </script>
    {% block scripts %}
    {% endblock scripts %}

</body>

</html>