{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% block js %}{% endblock js %}
{% endblock %}

{% block list_of_items %}

<div class="container">
    {% block body %}
    {# The forum content will go in this 'body' block #}
    {% endblock body %}
</div>
{% endblock list_of_items %}

{% block scripts %}
  {{ block.super }}
  {% block extra_js %}{% endblock extra_js %}
{% endblock scripts %}

