{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head %}
{{block.super }}
<meta name="Description" content="Saúdes Raras">
{% endblock %}
{% block navbar-left %}
{% include "_navbar_r2.html" %}
{% endblock %}
{% block splash %}
{% if request.get_full_path == "/" %}

<link rel="stylesheet" href="{% static 'src\static\styles\saude_raras\style.css' %}" />
<body class="d-flex flex-column min-vh-100">
  <div
    class="border-top "
    style="
      margin-left: 9%;
      margin-right: 9%;
      margin-top: 0%;
      margin-bottom: 3%;
      border: 3px solid #114D7F;
    "
  ></div>
<div class="row justify-content-center align-items-center mx-0 px-0">
  <div class="container pb-4 justify-content-center" style="padding-right: 0%; padding-left: 0%">
    <div class="col-12 text-center ">
      
      <div class="row justify-content-center " style="margin: 0 9%;" >
        <img data-src="{% static 'site/img/sozinhe.gif' %}" alt="todos" style="width: max-content; margin-bottom: 7px;" class="lazyload">
        <div class="row justify-content-center col-12 px-0" style="margin: 2% 5%; margin-top: 0%;">
          <div
              class="card text-center col-lg-6 col-md-8 col-sm-12"
              style="border: transparent; border-radius: 10px; padding: 0.5rem; max-width: 560px;max-height: 335px;"
          >
                <video
                    style="height: auto; min-height: 4rem; border-radius: 10px; width: 100%; max-height: 335px;"
                    frameborder="0"
                    autoplay
                    muted
                    loop
                    controls
                    >
                    <source src="{% static 'site/vids/v1.mp4' %}" type="video/mp4">
                    Seu navegador não suporta a tag de vídeo.
                </video>
          </div>
          <div
              class="card text-center col-lg-6 col-md-8 col-sm-12"
              style="border: transparent; border-radius: 10px; padding: 0.5rem; max-width: 560px;max-height: 335px;"
          >
            <video
            style="height: auto; min-height: 4rem; border-radius: 10px; width: 100%; max-height: 335px;"
            frameborder="0"
            
            muted
            loop
            controls
            >
            <source src="{% static 'site/vids/v2.mp4' %}" type="video/mp4">
            Seu navegador não suporta a tag de vídeo.
            </video>
        </div>
      </div>
        </div>
        <div class="row justify-content-center" style="margin: 22px 9%; height: auto; padding: 0;">
          <div class="mt-0">
              <h1 class="text-home azul-escuro reg " style="margin-bottom: 1%; padding: 0 0px; text-align: center; overflow-wrap: break-word; font-size: clamp(19px, 6vw, 45px);">
                {% trans "Don't you see, we feel" %}
              </h1>
          </div>
          <div class="row" style="max-width: 1120px;">
            <div class="col-12">
                <nav id="searchNav" class="navbar navbar-light bg-white sub-nav-bar p-1 pl-0 rounded mb-2 finder">
                    <ul class="nav justify-content-between w-100" >
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="/#">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/diagnostico.svg' %}" class="diagnostico-img" style="width: 30px; height: 30px; margin-right: 4px">
                                    {% trans "Diagnosis" %}
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="{% url 'medicos' %}">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/medicos.svg' %}" class="medicos-img " style="width: 30px; height: 30px; margin-right: 4px">
                                    {% trans "Doctors" %}
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="{% url 'blog' %}">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/justica.svg' %}" class="justica-img" style="width: 30px; height: 30px; margin-right: 4px">
                                    {% trans "Justice" %}
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="/#">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/sus.svg' %}" class="sus-img" style="width: 30px; height: 30px; margin-right: 4px">
                                    SUS
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="/#">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/sintomas.svg' %}" class="sintomas-img" style="width: 30px; height: 30px; margin-right: 4px">
                                    {% trans "Symptoms" %}
                                </div>
                            </a>
                        </li>
                        <li class="nav-item col-12 col-md-6 col-lg-auto">
                            <a href="/#">
                                <div class="btn btn-sm bttn5 d-flex align-items-center" style="font-size: 20px;">
                                    <img src="{% static 'site/img/publicacoes.svg' %}" class="publicacoes-img" style="width: 30px; height: 30px; margin-right: 4px">
                                    {% trans "Publications" %}
                                </div>
                            </a>
                        </li>
                    </ul>
                    
                </nav>
            </div>
        </div>
          <div class="container-fluid row" style="border: none; height: 8vw; border-radius: 76px; width: 100%; max-width: 1120px; display: flex; align-items: center; padding: 0%; max-height: 60px; min-height: 40px;">
              <input type="text" placeholder="{% trans 'search here...' %}" class="col-11 input-container mdm text-home2" style="
                  border: none; 
                  color: white;
                  height: 100%; 
                  background: #114D7F; 
                  border-top-left-radius: 76px; 
                  border-bottom-left-radius: 76px; 
                  padding-left: 35px;
                  width: 85%;">
              <div class="btn bttn4 col-1 text-center mdm text-home2" style="
                  height: 100%; 
                  border-top-right-radius: 76px; 
                  border-bottom-right-radius: 76px; 
                  display: flex; 
                  justify-content: center; 
                  align-items: center;
                  width: 15%;
                  ">
                  {% trans "search" %}
              </div>
          </div>
      </div>
      
      
      
     
    
  </div>
  </div>


  <div
    class="container-fluid  justify-content-center align-items-center pb-4 pt-0"
    style=" height: auto;; background-color: #3D99F4; padding-left: 5%; padding-right: 5%; width: 100%;"
  >
  <div class="flex-center text-center px-0 pb-1 center-text-trick">
    <h2 class="text-home sbld" style="color: white; word-wrap: break-word; word-break: break-word; overflow-wrap: break-word;">
        {% trans "Social adversity" %}
    </h2>
</div>

    <div class="container-fluid d-flex justify-content-center align-items-center text-home2" style="height: auto;">
      <p class="reg" style="max-width: 1140px; width: auto; height:auto; color: white;  text-align: center;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
           It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
           It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
           desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
  </div>
  
  </div>


   <div class="col-12 text-center my-5">
        
    <div class="container justify-content-center p-0" style="max-width: 1120px;">
        <div class="row justify-content-between">
            <div class="card text-center col-lg-6 col-sm-12 p-0" style="border: transparent; border-radius: 10px; padding: 0.5rem; max-width: 560px; max-height: 400px;">
                <p class="container-fluid bld azul-escuro" style="font-size: 1.3rem; font-weight: 30px; overflow-wrap: break-word;">
                    {% trans "Hidden Disabilities Sunflower" %}
            </p>
                    
            <video
            style="height: auto; min-height: 4rem; border-radius: 10px; width: 100%; max-height: 335px;"
            
            muted
            loop
            controls
          >
          <source src="{% static 'site/vids/vc.mp4' %}" type="video/mp4">
                    
            Seu navegador não suporta a tag de vídeo.
          </video>
        </div>
    
            <div class="card text-center col-lg-6 col-sm-12 p-0" style="border: transparent; border-radius: 10px; padding: 0.5rem; max-width: 560px; max-height: 400px;">
                <p class="container-fluid bld azul-escuro" style="font-size: 1.3rem; font-weight: 30px; overflow-wrap: break-word;">
                    {% trans "Service centers" %}
                </p>
                <video
               
                style="height: auto; min-height: 4rem; border-radius: 10px; width: 100%; max-height: 335px;"
                
                muted
                loop
                controls
                >
                    <source src="{% static 'site/vids/v2.mp4' %}" type="video/mp4">
                    Seu navegador não suporta a tag de vídeo.
                </video> 

</div>
        </div>
    </div>
    
    </div>
    
      </div>

      <div class="container-fluid d-flex justify-content-center align-items-center ">
        <div class="container px-0" style="max-width: 1120px;">
            <h1 class="text-left mb-4 azul text-home reg">{% trans "Information about:" %}</h1>
            <div class="row justify-content-center">
                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="/#" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <img class="diagnostico-img" src="{% static 'site/img/diagnostico.svg' %}" style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="Diagnóstico">
                            <span style="font-size: clamp(10px, 2vw, 20px);">{% trans "Diagnosis" %}</span>
                        </div>
                    </a>
                </div>
   
                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="{% url 'medicos' %}" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <!-- Imagem padrão -->
                            <img src="{% static 'site/img/medicos.svg' %}" class="medicos-img" style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="Médicos">
                            <span style="font-size: clamp(10px, 2vw, 20px);">{% trans "Doctors" %}</span>
                        </div>
                    </a>
                </div>
  
                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="{% url 'blog' %}" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <img src="{% static 'site/img/justica.svg' %}" class="justica-img" style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="Justiça">
                            <span style="font-size: clamp(10px, 2vw, 20px);">{% trans "Justice" %}</span>
                        </div>
                    </a>
                </div>

                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="/#" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <img src="{% static 'site/img/sus.svg' %}" class="sus-img" style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="SUS">
                            <span style="font-size: clamp(10px, 2vw, 20px);">SUS</span>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="/#" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <img src="{% static 'site/img/sintomas.svg' %}" class="sintomas-img"  style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="Sintomas">
                            <span style="font-size: clamp(10px, 2vw, 20px);">{% trans "Symptoms" %}</span>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-md-2 d-flex align-items-center justify-content-center mb-4 p-0">
                    <a href="/#" class="btn bttn2">
                        <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
                            <img src="{% static 'site/img/publicacoes.svg' %}" class="publicacoes-img" style="width: 7vw; height: 7vw; min-width: 50px; min-height: 50px; max-width: 100px; max-height: 100px; border: 0; margin-bottom: 10%;" alt="Publicações">
                            <span style="font-size: clamp(10px, 2vw, 20px);">{% trans "Publications" %}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
      <div class="container-fluid d-flex align-items-center justify-content-center mt-3 mb-5 sbld mx-0" style="background-color: #114D7F;">
            <!-- Títulos e links -->
            {% include '_latest_news.html' %}
        </div>
    </div>
  
  {% include '_latest_events.html' %}
  
</div>
  

<div class="container-fluid d-flex align-items-center justify-content-center mt-3 mb-5 sbld mx-0" >
  <div class="container d-flex flex-column align-items-center" style="max-width: 1120px;">
      <!-- Títulos e links -->
      <div class="row justify-content-between align-items-center text-center mb-4 w-100">
          <div class="text-center sbld col-lg-auto col-md-6 col-12 mb-2">
              <h1 class="azul reg" style="font-weight: 950; line-height: 53px; display: inline-block; margin: 0; overflow-wrap: break-word; ">
                {% trans "Testimonials" %}
              </h1>
          </div>
          <div class="text-center col-lg-auto col-md-6 col-12 mb-2">
              <a class=" azul" href="/#" style="text-decoration: underline; font-weight: 400; line-height: 53px; display: inline-block; overflow-wrap: break-word;">
                {% trans "See others testimonials here +" %}
              </a>
          </div>
      </div>

      <!-- Novos Cards -->
      <div class="row justify-content-between mt-3">
          <!-- Card 1 -->
          <div class="col-lg-4 col-md-6 col-12 mb-4 d-flex justify-content-center">
              <div class="p-4 mb-4 card-container" 
                   style="border-radius: 30px; border: 3px solid #3D99F4; position: relative; max-width: 350px; min-height: 300px; padding: 20px; box-sizing: border-box;">
                  <!-- Link sobrepondo o conteúdo -->
                  <a href="SEU_LINK_AQUI"
                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; display: block; text-decoration: none; color: inherit;"></a>

                  <!-- Imagem no topo -->
                  <img src="{% static '/site/img/perfil1.jpg'%}" alt="Imagem" class="card-image" 
                       style="position: absolute; top: -41px; left: 25%; transform: translateX(-50%); border-radius: 50%; width: 80px; height: 80px; border: 0;">

                  <!-- Conteúdo da carta com espaçamento fixo -->
                  <div style="padding-top: 40px; margin-bottom: 60px;">
                      <p class="reg" style="max-width: 278px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 400; line-height: 23px; word-wrap: break-word; text-align: left; margin: 0;">
                        {% trans "This online space provided me with emotional support and valuable information that made all the difference during my process and my son's process." %}
                    </p>
                  </div>

                  <!-- Título fixo na parte inferior -->
                  <h5 class="bld" style="position: absolute; bottom: 30px; left: 20px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 700; line-height: 13px; margin: 0;">
                      Mariana Costa
                  </h5>
              </div>
          </div>

          <!-- Card 2 -->
          <div class="col-lg-4 col-md-6 col-12 mb-4 d-flex justify-content-center">
              <div class="p-4 mb-4 card-container" 
                   style="border-radius: 30px; border: 3px solid #3D99F4; position: relative; max-width: 350px; min-height: 300px; padding: 20px; box-sizing: border-box;">
                  <!-- Link sobrepondo o conteúdo -->
                  <a href="SEU_LINK_AQUI"
                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; display: block; text-decoration: none; color: inherit;"></a>

                  <!-- Imagem no topo -->
                  <img src="{% static '/site/img/perfil1.jpg'%}" alt="Imagem" class="card-image" 
                       style="position: absolute; top: -41px; left: 25%; transform: translateX(-50%); border-radius: 50%; width: 80px; height: 80px; border: 0;">

                  <!-- Conteúdo da carta com espaçamento fixo -->
                  <div style="padding-top: 40px; margin-bottom: 60px;">
                      <p class="reg" style="max-width: 278px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 400; line-height: 23px; word-wrap: break-word; text-align: left; margin: 0;">
                        {% trans "This online space provided me with emotional support and valuable information that made all the difference during my process and my son's process." %}
                    </p>
                  </div>

                  <!-- Título fixo na parte inferior -->
                  <h5 class="bld" style="position: absolute; bottom: 30px; left: 20px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 700; line-height: 13px; margin: 0;">
                      Mariana Costa
                  </h5>
              </div>
          </div>

          <!-- Card 3 -->
          <div class="col-lg-4 col-md-6 col-12 mb-4 d-flex justify-content-center">
              <div class="p-4 mb-4 card-container" 
                   style="border-radius: 30px; border: 3px solid #3D99F4; position: relative; max-width: 350px; min-height: 300px; padding: 20px; box-sizing: border-box;">
                  <!-- Link sobrepondo o conteúdo -->
                  <a href="SEU_LINK_AQUI"
                     style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; display: block; text-decoration: none; color: inherit;"></a>

                  <!-- Imagem no topo -->
                  <img src="{% static '/site/img/perfil1.jpg'%}" alt="Imagem" class="card-image" 
                       style="position: absolute; top: -41px; left: 25%; transform: translateX(-50%); border-radius: 50%; width: 80px; height: 80px; border: 0;">

                  <!-- Conteúdo da carta com espaçamento fixo -->
                  <div style="padding-top: 40px; margin-bottom: 60px;">
                      <p class="reg" style="max-width: 278px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 400; line-height: 23px; word-wrap: break-word; text-align: left; margin: 0;">
                        {% trans "This online space provided me with emotional support and valuable information that made all the difference during my process and my son's process." %}
                    </p>
                  </div>

                  <!-- Título fixo na parte inferior -->
                  <h5 class="bld" style="position: absolute; bottom: 30px; left: 20px; color: black; font-size: 20px; font-family: Recoleta; font-weight: 700; line-height: 13px; margin: 0;">
                      Mariana Costa
                  </h5>
              </div>
          </div>
      </div>
  </div>
</div>







<div class="container pb-4 px-5" style="max-width: 1140px;">
  <div class="row pb-5">
    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start align-items-lg-center m-0 reg" style="width: 100%; height: auto;">
      <h1 class="text-home reg azul-escuro col-lg-7 col-12 text-start mb-3 mb-lg-0" style="overflow-wrap: break-word;">
        {% trans "Find help near to you!" %}
      </h1>
      
      <div class="container-fluid col-lg-5 col-12 " style="border: none; height: 8vw; border-radius: 76px; display: flex; align-items: center; padding: 0%; height: 40px;">
        <input type="text" placeholder="{% trans 'search here...' %}" class="col-sm-10 col-9 input-container mdm text-home2" style="
            border: none; 
            color: white;
            height: 100%; 
            background: #114D7F; 
            border-top-left-radius: 76px; 
            border-bottom-left-radius: 76px; 
            padding-left: 35px;"
            >
        <div class="btn bttn4 col-sm-2 col-3 text-center mdm " style="
            height: 100%; 
            border-top-right-radius: 76px; 
            border-bottom-right-radius: 76px; 
            display: flex; 
            justify-content: center; 
            align-items: center;
            
            font-size: clamp(15px, 1vw, 20px);
            ">
            {% trans "search" %}
        </div>
    </div>
    </div>

    <iframe id="frame-visao" class="w-100 mt-3" style="height: 37.5rem;" src="https://visao.ibict.br/visao2/viewGroupCategory/238?l=462&amp;amp&amp;ui=f&amp;amp&amp;header=f&amp;amp&amp;hideIndicator=t" frameborder="0"></iframe>
  </div>
</div>


  
  <div class="container-fluid row" style="background-color: #5CDCFF; padding: 0; margin: 0;">
    <div class="row no-gutters align-items-center" style="margin: 0; padding: 0;">

      <div class="col-4 d-flex justify-content-start align-items-center" style="padding: 0; margin: 0;">
        <img src="{% static '/site/img/Vector.svg'%}" alt="Imagem" style="max-width: 100%; max-height: 400px; width: auto; height: auto;">
    </div>
    
  
      
    <div class="col-2 d-flex justify-content-center align-items-center" style="padding: 0; margin: 0;">
      <div class="container-fluid d-flex flex-column justify-content-center" style="max-width: 290px; padding: 0; margin: 0;">
        <h1 class="text-home reg par" style="color: white; font-size:  min(3vw, 45px); font-weight: 400; text-align: start; margin: 0; line-height: 1.2; min-width: 0; ">
            {% trans "Wanna be a partner?" %}
        </h1>
        
        <a href="/parceiro/" class="btn mdm" style="display: inline-block; width: 100%; margin-top: 10px; background-color: #3D99F4; color: white; text-align: center; border: none; border-radius: 42px; font-size: 1.5vw; padding: 10px; text-decoration: none;">
            {% trans "Know how" %}
      </a>
      
      </div>
  </div>
  
      <div class="col-6  d-flex justify-content-center align-items-center" style="padding: 0 20px; margin: 0;">
        <img src="{% static '/site/img/img.svg'%}" alt="Imagem" class="img-fluid" style="height: auto;">
      </div>
  
    </div>
  </div>
  
  <div class="container mt-5" style="max-width:  1120px;">
    <div class="row align-items-center justify-content-center w-auto" style="max-width: 1120px;">
        <div class="col-12 col-xl-auto m-0 text-start text-xl-start azul-escuro w-auto justify-self-start">
            <h1 class="reg m-0" style="font-size: 25px;">{% trans "Our medias:" %}</h1>
        </div>
        <div class="my-3 p-0 col-12 col-xl-auto d-flex flex-wrap flex-xl-nowrap justify-content-center gap-2">
            <div class="col-12 col-md-auto col-xl-auto d-flex justify-content-center align-items-center">
            <a 
            href="https://www.instagram.com/saudesraras_/" 
            class="btn bck-azul-escuro d-flex justify-content-center align-items-center" 
            style="color: white; width: 230px; height: 50px; border-radius: 30px; font-size: 15px;text-decoration: none;" 
            target="_blank">@saudesraras_</a></div>
        
            <div class="col-12 col-md-auto col-xl-auto d-flex justify-content-center align-items-center">
              <a
              target="_blank" 
              
              href="mailto:laccops.gco.ega@id.uff.br"
              class="btn bck-azul-escuro d-flex justify-content-center align-items-center" 
              style="color: white; width: 230px; height: 50px; border-radius: 30px; font-size: 15px;text-decoration: none;">laccops.gco.ega@id.uff.br</a>
              </div>
              
            <div class="col-12 col-md-auto col-xl-auto d-flex justify-content-center align-items-center">
              <a 
              target="_blank" 
              hre="" 
              class="btn bck-azul-escuro d-flex justify-content-center align-items-center" style="color: white; width: 230px; height: 50px; border-radius: 30px; font-size: 15px;text-decoration: none;">{% trans "Contact" %}</a>
          </div>
        </div>
            </div>
    </div>
</div>

    <div class="container-fluid justify-content-center mdm m-0">
      <div class="row text-center azul" style="margin-top: 5rem;">
        <h1 class="text-home reg" style=" overflow-wrap: break-word; text-align: center;">{% trans "FAQ" %}</h1>
      </div>
      <div class="container-fluid justify-content-center d-flex flex-column align-items-center m-0" style="font-size: 20px;">
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "Are rare diseases contagious?" %}
        </a>
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "How can we support people with rare diseases?" %}
        </a>
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "Why is difficult to find treatments for rare diseases?" %}
        </a>
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "Are rare diseases contagious?" %}
        </a>
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "How do families deal with rare diseases?" %}
        </a>
        <a href="#" class="text-center p-3 mt-3 link-div bttn3 card-link">
            {% trans "Can children also have rare diseases?" %}
        </a>
      </div>
      
    </div>
    
</div>
{% endif %}
{% endblock splash %}

</body>
