{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ block.super }} :: Blog {% endblock %}

{% block list_of_items %}
<div class="border-top"
    style="
      margin: 3rem 5%;
      border: 3px solid #114D7F;
      margin-right: 5%;
      margin-left: 5%;">
</div>
<div class="container">
    <h1 class="mt-5 mb-5 text-blue3" style="text-align: center;">{% trans "News" %}</h1>
    <div class="row">
        <div class="row">
            <div class="text-end" style="text-align: end;">
                <span class="fs-6 pt-3 mb-5 d-block">
                    {% blocktrans %}Want to send a news to our site?{% endblocktrans %}
                    <a class="text-blue2" href="/contact">{% blocktrans %}Contact us{% endblocktrans %}.</a>
                </span>
            </div>
        </div>
        {% for post in post_list %}
        <div class="col-sm-2">
            <div class="col-md-3 pe-0">
                <img class="card-img lazyload"
                    data-src="{% thumbnail post.safe_image|default:'void_600.png' 600x400 upscale crop %}"
                    alt="Card image">
            </div>
        </div>
        <div class="col-sm-3 col-12 mt-4 mb-4 text-blue3">
            <p class="small text-muted">
                {% if post.author.name != "Empty user" %}
                {{ post.author.name }},
                {% endif %}
                {{ post.created_on}}
            </p>
            <h3>{{post.title}}</h3> 
        </div>
        <div class="col-sm-7 col-12 mt-4 mb-4">
            {{ post.excerpt | safe }}
            <div class="mt-3 mb-5">
                <a class="btn btn-blue3" href="{{ post.get_absolute_url }}" target="_blank">
                    {% trans "Access page" %}
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="col-lg-12">
            {% include "blog_paginator.html" %}
        </div>
    </div>
</div>
{% endblock list_of_items %}