{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %}{{ block.super }} :: Blog {% endblock %}
{% block list_of_items %}
<div class="border-top"
    style="
      margin: 3rem 5%;
      border: 3px solid #114D7F;">
</div>

<div class="container px-3">
    <h1 class="mt-5 mb-4 text-blue3 text-center">{% trans "News" %}</h1>
    
    <!-- Aviso sobre enviar notícia -->
    <div class="text-center mb-4">
        <span class="fs-6 d-block">
            {% blocktrans %}Want to send a news to our site?{% endblocktrans %}
            <a class="text-blue2" href="/contact">{% blocktrans %}Contact us{% endblocktrans %}.</a>
        </span>
    </div>

    <!-- Lista de Cards Centralizada -->
    <div class="row justify-content-center g-4">
        {% for post in post_list %}
            <div class="col-12 col-sm-6 col-lg-12 d-flex align-items-stretch">
                {% include "inform_card.html" %}
            </div>
        {% endfor %}
    </div>

    <!-- Paginador -->
    <div class="row mt-4 text-center">
        <div class="col-12">
            {% include "blog_paginator.html" %}
        </div>
    </div>
</div>
{% endblock list_of_items %}