:root {
    --d-9d-9d-9: rgba(255, 255, 255, 1);
    --light: rgba(255, 255, 255, 1);
    --t-tulo-font-family: "Exo-ExtraBold", Helvetica;
    --t-tulo-font-weight: 800;
    --t-tulo-font-size: 45px;
    --t-tulo-letter-spacing: 0px;
    --t-tulo-line-height: 52.993289947509766px;
    --t-tulo-font-style: normal;
  }
  