{% block html_body  %}
  <p>Olá, {{ username }}</p>
  <p>
    Agradecemos por registrar o evento <b>{{ submissionName }}</b>
    na plataforma Civis. Agora, ele passará pela etapa de moderação conduzida pela nossa equipe.
  </p>
  <p>O objetivo é prevenir o uso da plataforma para outros fins que não sejam o suporte à ciência cidadã.</p>
  <p>Caso tenhamos alguma dúvida, entraremos em contato.</p>
  <p>Se quiser entrar em contato conosco, escreva para civis@ibict.br.</p>
  <p>Este é um e-mail automático, NÃO responda.</p>
  <p>Obrigada,</p>
  <p>Equipe Civis</p>
{% endblock html_body %}
