{% block html_body  %}
  <p>Olá {{ name }}</p>
  <p><br/></p>
  <p>Please confirm your email <a href='{{ link }}'>here</a>.</p>
  <p>
    Civis is a citizen science platform, developed by the Brazilian Institute of Information in Science and Technology (IBICT).
    Our goal is to offer infrastructure and content that contribute to broadening the compreension about citizen science,
    disseminating its use and supporting the development of projects and the application of methodologies in this field.
  </p>
<p>
    Seu e-mail permanecerá sempre privado para a comunidade, e será usado apenas para que possamos enviar alertas como este, a menos que você opte explicitamente por divulgá-lo futuramente.
</p>
<p>
    Caso você não tenha se cadastrado na Civis, ignore esta mensagem ou escreva para civis@ibict.br e nos informe. Este é um e-mail automático, NÃO responda.
</p>
<p>Obrigada,<br>Equipe Civis </p>
{% endblock html_body %}
