{% load static %}
{% load i18n %}
<div class="row">
    <div class="col-12">
        {% if resource.id %}
        <h1>{% trans "Editing" %}<span class="text-pink6"> {{resource.name}}</span></h1>
        {% else %}
        <h1>{% trans "New" context "masc" %}<span class="text-pink6"> {% trans "resource" %}</span></h1>
        {% endif %}

        {% if not resource.id %}
        <div class="row">
            <div class="col-12">
                <div class="small mb-2">{% trans "Thank you for registering a new citizen science resource on the Civis platform. Please fill in all the mandatory information, and as much optional information as possible." %}</div>
                <div class="small mb-2">{% trans "Resources can include documents such as guidelines, tutorials, methodologies and tools to co-produce knowledge, such as gamification resources, measurements, sensors, registration softwares, data sending and managing, and other materials that may help in citizen science Project and initiative development and execution." %}</div>
                <div class="small mb-2">{% trans "After submitting this form, the resource will undergo moderation by the Civis team. This step is simply to prevent use of the platform for purposes other than supporting citizen science." %}</div>
                <div class="small mb-2">{% trans "Please note that we strongly recommend that you ensure your resource is available, or make it available, on a website, repository, or publishers with a permanente link, especially those considered open access like" %}
                    <a href="https://zenodo.org/" target="_blank">Zenodo</a>,
                    <a href="https://osf.io/" target="_blank">OSF</a>,
                    <a href="https://riojournal.com/" target="_blank">{% trans "the RIO Journal" %}</a>.
                </div>

                <div class="small mb-2">{% trans "We would like to point out that, upon registration of a document or information, you have to clear the image rights and copyrights of the content you are submitting. Please indicate the author or copyright holder of all pictures and content, when applicable. You may need to obtain express written permission from them." %}</div>
                <div class="small mb-2">{% trans "If you have any doubts about filling it out, consult our " %}
                    <a href="/guide" target="_blank">{% trans "User Guide" %}</a>.
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
