{% load static %}
{% load i18n %}
{% load l10n %}
{% load thumbnail eucs_platform_tags eucs_platform_translate %}

<div class="container p-0">
    <div class="row p-1 justify-content-center align-items-start mb-4"> 
        

        <!-- Quadradinho vertical do Resource -->
         {% if 'https://drive.google' in resource.url %}
        <div class="col-md-3 col-11 p-0 m-0">
            <div class="viewer-container" 
                 style="position: relative; 
                        width: 450px;       /* largura mínima */
                        height: 250px;      /* altura mínima */
                        max-width: 100%; 
                        max-height: 394px; 
                        background-color: white;">
                <iframe 
                    src="{{ resource.preview_url }}" 
                    style="width: 100%; height: 100%; border: none;" 
                    allow="autoplay">
                </iframe>
            </div>
        </div>
        

        <!-- Informações e botões -->
        <div class="col-md-8 col-11 p-0 ms-3">
            <div>
                <p class="bld azul-escuro text-tittle-publi mb-0 mt-2">
                    {{ resource.name|truncatewords:10 }}
                </p> 
                



                {% if resource.creator %}
                    <i class="mdm text-publi mb-1">
                        {% trans "Autor:" %} 
                        {{ resource.creator.name }}
                    </i>
                {% endif %}

                <div class="border-top border-2 m-0"></div>
                {% with category=resource.category|translate_instance %}
                <a class="badge rounded-pill bg-pill text-decoration-none my-2 me-2" href="{{endPoint}}?category={{category}}">{{ category | truncatewords:15 }}</a>
                {% endwith %}
                {% for org in resource.organisation.all %}
                    <a class="badge rounded-pill bg-pill text-decoration-none my-2 me-2" href="{{endPoint}}?organisation={{org.pk}}">{{ org.name }}</a>
                {% endfor %}
                <p id="resource-desc-{{ resource.id }}" class="reg text-publi multiline-ellipsis text-description mb-0"
                style="-webkit-line-clamp: 3;">
                {{ resource.abstract }}
                </p>
               
                <a href="javascript:void(0);" class="show-more-btn" id="show-more-btn-{{ resource.id }}" onclick="toggleText('resource-desc-{{ resource.id }}', this)">
                    Mostrar mais
                </a>
            </div>

            <div class="d-flex mt-2" style="gap: 10px;">
                <a class="btn btn-blue3" 
                   href="{% url 'resource' pk=resource.id %}" 
                   target="_blank">
                   {% trans "Abrir publicação" %}
                </a>
                {% if 'http' in resource.url_download %}
                <a target="_blank" 
                   class="btn btn-blue3" 
                   style="max-width: 250px;"
                   href="{{resource.url_download}}">
                   <i class="fas fa-download me-2"></i>
                     {% trans "Baixar publicação" %}
                </a>
                {%endif%}
            </div>
        </div>

        {% else %}

                <!-- Informações e botões -->
        <div class="col-md-11 col-11 p-0 ms-3">
            <div>
                <p class="bld azul-escuro text-tittle-publi mb-0 mt-2">
                    {{ resource.name|truncatewords:10 }}
                </p> 
                



                {% if resource.creator %}
                    <i class="mdm text-publi mb-1">
                        {% trans "Autor:" %} 
                        {{ resource.creator.name }}
                    </i>
                {% endif %}

                <div class="border-top border-2 m-0"></div>
                {% with category=resource.category|translate_instance %}
                <a class="badge rounded-pill bg-pill text-decoration-none my-2 me-2" href="{{endPoint}}?category={{category}}">{{ category | truncatewords:15 }}</a>
                {% endwith %}
                {% for org in resource.organisation.all %}
                    <a class="badge rounded-pill bg-pill text-decoration-none my-2 me-2" href="{{endPoint}}?organisation={{org.pk}}">{{ org.name }}</a>
                {% endfor %}
                <p id="resource-desc-{{ resource.id }}" class="reg text-publi multiline-ellipsis text-description mb-0"
                style="-webkit-line-clamp: 3;">
                {{ resource.abstract }}
                </p>
               
                <a href="javascript:void(0);" class="show-more-btn" id="show-more-btn-{{ resource.id }}" onclick="toggleText('resource-desc-{{ resource.id }}', this)">
                    Mostrar mais
                </a>
            </div>

            <div class="d-flex mt-2" style="gap: 10px;">
                <a class="btn btn-blue3" 
                   href="{% url 'resource' pk=resource.id %}" 
                   target="_blank">
                   {% trans "Abrir publicação" %}
                </a>
                {% if 'http' in resource.url_download %}
                <a target="_blank" 
                   class="btn btn-blue3" 
                   style="max-width: 250px;"
                   href="{{resource.url_download}}">
                   <i class="fas fa-download me-2"></i>
                     {% trans "Baixar publicação" %}
                </a>
                {%endif%}
            </div>
        </div>
         {% endif %}
        
   
    </div>
    
</div>
<br>
<style>
.text-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* número de linhas visíveis */
    -webkit-box-orient: vertical;
}
</style>

<!-- JavaScript para Mostrar mais / Mostrar menos -->
<script>
function toggleText(id, btn) {
    const text = document.getElementById(id);

    if (text.style.webkitLineClamp === "none") {
        text.style.webkitLineClamp = "3";
        btn.innerText = "Mostrar mais";
    } else {
        text.style.webkitLineClamp = "none";
        btn.innerText = "Mostrar menos";
    }
}

// Esconde botão se o texto não estiver cortado
document.addEventListener("DOMContentLoaded", function() {
    const texts = document.querySelectorAll(".text-description");
    texts.forEach(function(text) {
        const btn = document.getElementById("show-more-btn-" + text.id.split("-")[2]);
        if (text.scrollHeight <= text.clientHeight) {
            // texto não está cortado
            btn.style.display = "none";
        }
    });
});
</script>