{% load i18n %}
{% load static %}
{% load countries %}
<div class="row">
    <form class="form-inline float-lg-right" id="searchOrganisations" action="{% url 'organisations' %}">
        <input type="hidden" name="keywords" value="{{filters.keywords}}"/>

        <div class="col-12 d-flex">

            <div id="div-ordenacao">
                <div class="title-filtros">{% trans "Order by" %}</div>
                <div class="input-group input-group-sm filter-bar">
                    <div class="input-group-text filter-img">
                        <img src="{% static '../static/site/icons/order-icon.png' %}" height="14px;" alt="">
                    </div>
                    <select id="orderby" name="orderby" class="custom-select form-control">
                        <option value="-dateUpdated" {% if filters.orderby == "-dateUpdated" %}selected{% endif %}>{% trans "Most Recent" %}</option>
                        <option value="name" {% if filters.orderby == "name" %}selected{% endif %}>{% trans "By Name" %}</option>
                    </select>
                </div>
            </div>


            <div id="div-filtros">
                <div class="title-filtros">{% trans "Filter by" %}</div>
                <div class="input-group input-group-sm filter-bar">

                    <div class="input-group-text filter-img">
                        <img src="{% static '../static/site/icons/filter-icon.png' %}" height="14px;" alt="">
                    </div>

                    <select id="country" name="country" class="custom-select form-control">
                        <option value="">{% trans "Country" %}<option>
                        {% for country in countries %}
                        {% for cwc in countriesWithContent %}
                        {% if country.code == cwc %}
                        <option {% if country.code ==  filters.country %} selected {% endif %} value="{{ country.code }}">
                        {{ country.name }}
                        </option>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                    </select>
                    <select id="orgTypes" name="orgTypes" class="custom-select form-control">
                        <option value="">{% trans "Type" %}<option>
                        {% for t in orgTypes %}
                        <option {% if t|safe ==  filters.orgTypes %} selected {% endif %} value="{{t}}">
                        {{t|capfirst}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-4">
                {% if filters.keywords %}
                <a href="#" class="badge rounded-pill bg-blue3 mt-4 search-filter">
                    <i class="fas fa-times"></i> {% trans "keyword:" %} {{filters.keywords}}
                </a>
                {% endif %}
                {% if filters.country %}
                <a href="#" class="badge rounded-pill bg-blue1 mt-4" id="pill-country">
                    <i class="fas fa-times"></i>
                    {% for country in countries %}
                    {% if country.code == filters.country %}
                    {% trans "country" %}: {{country.name}}
                    {% endif %}
                    {% endfor %}
                </a>
                {% endif %}
                {% if filters.orgTypes %}
                <a href="#" class="badge rounded-pill bg-blue2 mt-4" id="pill-orgTypes">
                    <i class="fas fa-times"></i>
                    {% trans "type:" %} {{filters.orgTypes}}
                </a>
                {% endif %}
                {% if request.get_full_path != "/organisations" %}
                <a class="badge rounded-pill bg-blue3 text-decoration-none mt-4" href="/organisations">
                    <i class="fas fa-times"></i> {% trans "Clear current search query and filters" %}
                </a>
                {% endif %}
                <div class="small result mb-3 mt-3">
                    {{ counter }}
                    {% if counter != 1 %}
                    {% trans "organisations" %}
                    {% else %}
                    {% trans "organisation" %}
                    {% endif %}
                    {% trans "found" %}
                </div>
            </div>
        </div>
    </form>
</div>
