{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Alterar senha{% endblock %}

{% block list_of_items %}
<div class="container mt-5">
  <div class="row">
    <div class="container d-flex justify-content-center">
      <div class="col-lg-6 col-12">
        <div class="text-text p-3 form-accounts">
          {% block form_heading %}Alterar senha{% endblock %}

          {% block form %}
          {% crispy form %}
          {% endblock form %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock list_of_items %}
