{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} :: About{% endblock %}

{% block list_of_items %}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="mt-5 mb-5">
                About <span class="text-pink6">Saúdes Raras</span>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-12"></div>
        <div class="col-sm-8 col-11">

            <div class="row mb-5">                
                <div class="col-12">
                    <p>
                        Civis is a citizen science platform developed by the Brazilian Institute of Information in
                        Science and Technology (IBICT) using open-source code,
                        based on <a href="https://eu-citizen.science/">EU-Citizen.Science</a>.
                    </p>
                    <p>
                        Our goal is to provide infrastructure and content that help broaden the understanding of citizen science,
                        promote its use, and support the development of initiatives and the application of methodologies in this field,
                        with a focus on Latin America and the Caribbean.
                    </p> 
                    <p>
                        Civis is open to anyone who wishes to register initiatives, resources, and other citizen science content.
                    </p> 
                    <p>
                        The platform is targeted toward a comprehensive, plural audience, which includes:
                    </p> 
                    <ul>
                        <li>Researchers, scientists, and teachers or professors interested in developing citizen science projects and initiatives, in addition to familiarizing themselves with and using methodologies and existing initiative results.</li>
                        <li>Individuals, collectives, and organisations with or without an academic background who wish to participate, initiate, or perfect actions with this approach.</li>
                        <li>Public administrators and private managers interested in supporting and developing projects and initiatives of this nature.</li>
                    </ul>
                    
                    <h1 class="mt-5 mb-5">What is <span class="text-pink6">citizen science</span></h1>
    
                    <p>
                        Citizen science is a branch of the open science movement. It is a broad concept, encompassing several diverse initiatives,
                        approaches, and methodologies that seek to perfect and promote non-scientist contributions and engagement in knowledge,
                        data, and information analysis and production activities that are relevant to science and issues of social,
                        environmental, and territorial importance.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock list_of_items %}
