{% load i18n %}


{% block html_body  %}

<p>
    Temos o prazer de informar que sua iniciativa <a href="{{domain}}/project/{{id}}">{{name}}</a> foi marcada como “favorita” por outro/a membro da comunidade da Civis.
</p>

<p>
    Para manter atualizadas as informações sobre esta iniciativa, você pode editar o perfil correspondente acessando a seção Minhas submissões
    <a href="{{domain}}/users/me"> na sua Área Pessoal </a> (veja o canto superior direito do menu da plataforma).
</p>
<p>
Se precisar de ajuda, tiver dúvidas ou quiser fazer alguma sugestão, escreva para civis@ibict.br.
Este é um e-mail automático, NÃO responda.
</p>
<p>
Saudações, <br>
Equipe Civis
</p>

{% endblock html_body %}

