/* style.css */
@font-face {
    font-family: "Recoleta";
    src: url("/static/bootstrap/fonts/Recoleta-Regular.ttf") format("opentype");
    /* Adicione outras variações da fonte conforme necessário */
    }

    @font-face {
        font-family: "Recoleta-Light";
        src: url("/static/bootstrap/fonts/Recoleta-Light.ttf") format("opentype");
        /* Adicione outras variações da fonte conforme necessário */
        }
    
    @font-face {
        font-family: "Recoleta-SemiBold";
        src: url("/static/bootstrap/fonts/Recoleta-SemiBold.ttf") format("opentype");
        /* Adicione outras variações da fonte conforme necessário */
        }
            
    @font-face {
        font-family: "Recoleta-Thin";
        src: url("/static/bootstrap/fonts/Recoleta-Thin.ttf") format("opentype");
        /* Adicione outras variações da fonte conforme necessário */
        }

    @font-face {
        font-family: "Recoleta-Medium";
        src: url("/static/bootstrap/fonts/Recoleta-Medium.ttf") format("opentype");
        /* Adicione outras variações da fonte conforme necessário */
        }
    @font-face {
        font-family: "Recoleta-Bold";
        src: url("/static/bootstrap/fonts/Recoleta-Bold.ttf") format("opentype");
        /* Adicione outras variações da fonte conforme necessário */
        }



/* CSS para dispositivos pequenos */
@media (max-width: 275px) {
    .navbar img {
        max-width: 90px; /* Ajuste o tamanho conforme necessário */
        max-height: 30px; /* Ajuste o tamanho conforme necessário */
    }
}
@media (min-width: 276px) {
    .navbar img {
        max-width: 192px; 
        max-height: 66px;
}



}

 .faq-card {
    background: #fff;
    border-radius: 30px; /* pílula deitada */
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 10px auto;
    cursor: pointer;
    user-select: none;
    padding: 15px 25px;
    transition: background-color 0.3s ease;
  }

  .faq-card:hover {
    background-color: #e0f7fa;
  }

  .faq-question {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    font-size: 0.95rem;
    color: #333;
    margin-top: 10px;
    transition: max-height 0.35s ease, padding 0.35s ease;
    padding: 0 0;
  }

  .faq-card.active .faq-answer {
    max-height: 500px; /* valor grande pra abrir todo o texto */
    padding: 10px 0;
  }
.ratio-16x7 {
    aspect-ratio: 20 / 7;
  }

    body {
    font-family: "Recoleta", sans-serif;
    }
    
    /* Aplicar Recoleta a todos os parágrafos, links e títulos */
  
    
    
    .sng{  
        
        width: 133px; 
        height: 47px;
        font-size: 18px;
        border-width: 2px;
        border-radius: 100px; 
        font-weight: 400; 
        color: #F2F6F9;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .sng:hover{          
        color: #114D7F;
        background-color: #F2F6F9;
        
    }
 
    .sngup{
        width: 133px; 
        height: 47px;    
        background-color: #F2F6F9;
        font-size: 18px;
        border-width: 2px;
        border-radius: 100px; 
        font-weight: 400; 
        color: #114D7F;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn{
        box-shadow: none !important; 
    }
    .nav-bttn{
        color: #5CDCFF;
    }
    .nav-bttn:hover{
        color: #F2F6F9;
        
        
    }
    
    .custom-input-container {
    text-align: center;
    }
  
    
    .input-container:focus {
    outline: none;
    box-shadow: none;
    }
    
.azul{
    color: #3D99F4!important;
}

.azul-claro{
    
    color: #5CDCFF!important;
}

.azul-escuro{
    color: #114D7F !important;
}
.carousel-control-prev{
    border-radius: 0% !important;
}
.carousel-control-next{
    border-radius: 0% !important;
}
.bld{
    font-family: Recoleta-Bold !important;
    font-weight: 700;
}
.sbld{
    font-family: Recoleta-SemiBold !important;
    font-weight: 600;
}

.lght{
    font-family: Recoleta-Light !important;
    font-weight: 300;  
}
.mdm{
    font-family: Recoleta-Medium !important;
    font-weight: 500;
}
.reg{
    font-family: Recoleta !important;
    font-weight: 400; 
}
.tag-txt-doenca{
    font-size: 15px;
    background-color:  rgba(61, 153, 244, 0.3);
    color: #114D7F;
}
.tag-txt-doenca:hover{
    font-size: 15px;
    background-color: #114D7F;
    color: #5CDCFF;
}
.text-home2{
    font-size: min(3vw, 20px);
}
.text-home {
    
    border: none;
    font-size: clamp(21px, 6vw, 45px);
    font-weight: 400; 
    line-height: 53px;
}
.text-pages-tittle{
    font-size: clamp(21px, 6vw, 45px);
}
.text-tittle-publi{
    font-size: clamp(17px, 3vw, 25px);
}
.text-publi{
    font-size: clamp(14px, 0.8vw, 15px) !important;
}
.text-about{
    font-size: 30px;
    font-family: Recoleta-SemiBold !important;
    font-weight: 600;
    color: #114D7F;
}

.multiline-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 6; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.botinfo{
    border-radius: 10px;
    width:174px; 
    height: 250px; 
    background-color: white; 
    font-size: 20px; 
    text-decoration: none;
}
    
    .text-publicidade {
    font-weight: 950;
    size: 45px;
    line-height: 53px;
    align-self: center;
    color: #ffffff;
    }
    
    
    .row button {
    background-color: #ffffff;
    text-decoration: none;
    color: #114D7F;
    border-radius: 20px;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    flex-wrap: wrap;
    }
    
    .row button:hover {
    color: #114D7F;
    }
    
    
    
    .custom-input-container {
        text-align: center;
    }
    
   
    
    .input-container:focus {
        outline: none;
        box-shadow: none;
    }
    
    
    
    .text-publicidade {
        font-weight: 950;
        size: 45px;
        line-height: 53px;
        align-self: center;
        color: #ffffff;
    }
    
    
    .row button {
        background-color: #ffffff;
        text-decoration: none;
        color: #114D7F;
        border-radius: 20px;
        padding-top: .8%;
        padding-bottom: .8%;
        flex-wrap: wrap;
    }
    
    .row button:hover {
        color: #111927;
    }
    
    
    .line{
        margin-top: 0;
        border: 3px solid #114D7F;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 1rem;
        
    }
    .center{
        align-self: center
    }
    
    .pg-tittle{
        color: #114D7F; 
        font-size: clamp(35px, 3vw, 50px); 
        font-weight: 900; 
        text-align: justify; 
    }
    
    .pg-subtittle{
        color: #114D7F; 
        font-size: xx-large; 
        font-weight: 900; 
        text-align: justify;
    }
    
    .bck-azul-escuro{
        background-color: #114D7F !important;
    }
    .bck-azul-claro{
        background-color: #5CDCFF !important; 
    }
    .bck-azul{
        background-color: #3D99F4 !important;
    }
    .bttnBookmark{
        background-color: #3D99F4 !important;
        color: white !important;
        border: 2px solid #3D99F4!important;
        border-radius: 25px!important;        
        font-weight: 600!important;           
        text-decoration: none!important;      
        display: flex!important;              
        align-items: center!important;        
        justify-content: center!important;   
        padding: 10px 20px;   
    }
    .bttnBookmark:hover{
        background-color: #114D7F!important;
        color: white!important;
        border: 2px solid white!important;
        
    }




    .bttn0{
        background-color: #114D7F!important;
        color: white!important;
        border: 2px solid white;
        border-radius: 25px;        
        font-weight: 600;           
        text-decoration: none;      
        display: flex;              
        align-items: center;        
        justify-content: center;   
        padding: 10px 20px;   
    }
    .bttn0:hover{
        background-color: white!important;
        color: #114D7F !important;
        border: 2px solid #114D7F;
        
    }
    .bttn01{
        background-color: white!important;
        color: #114D7F!important;
        border: 2px solid #114D7F;
        border-radius: 25px;        
        font-weight: 600;           
        text-decoration: none;      
        display: flex;              
        align-items: center;        
        justify-content: center;   
        padding: 10px 20px;   
    }
    .bttn01:hover{
        background-color: #114D7F!important;
        color: white !important;
        border: 2px solid white;
        
    }
    .bttnenviar{
        background-color: white;
        color: #114D7F;
    }
    
    .bttnenviar:hover{
        background-color: #114D7F !important;
        color: #5CDCFF !important;
    }
    
    .bttn{
        background-color: white;
        outline-color: slategray;
        border: 1px #D0D5DD solid; 
        border-radius: 8px; 
        color: black;
    }
    .bttn:hover{
        background-color: #D0D5DD;
        border: 1px #D0D5DD solid;
        color: white;
    }

    .bttn2{
        
        border: 3px solid #3D99F4; 
        border-radius: clamp(8px, 1vw, 10px);
        width: 12vw; 
        height: 16vw; 
        max-height: 230px;
        max-width: 173px;
        min-width: 90px; 
        min-height: 120px;
    }
    .bttn2:hover{
        
        border: 3px solid #5CDCFF; 
        text-decoration: none;
        ;
    }

    

    .bttn2:hover .diagnostico-img {
        content: url('/static/site/img/diag-hover.svg'); /* Imagem ao passar o mouse */
    }
    .bttn2:hover .medicos-img {
        content: url('/static/site/img/medicos-hover.svg'); /* Imagem ao passar o mouse */
    }
    .bttn2:hover .justica-img {
        content: url('/static/site/img/jus-hover.svg'); /* Imagem ao passar o mouse */
    }
    .bttn2:hover .sus-img {
        content: url('/static/site/img/sus-hover.svg'); /* Imagem ao passar o mouse */
    }
    .bttn2:hover .sintomas-img {
        content: url('/static/site/img/sin-hover.svg'); /* Imagem ao passar o mouse */
    }
    .bttn2:hover .publicacoes-img {
        content: url('/static/site/img/publi-hover.svg'); /* Imagem ao passar o mouse */
    }    


    .bttn2 span{
        color: #3D99F4;
    }
    .bttn2:hover span{
        color: #5CDCFF;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

textarea:focus {
    outline: none;
    box-shadow: none;
}
.carousel-control-prev,
.carousel-control-next {
  top: 0;
  bottom: 0;
  width: 10%;
  opacity: 1;
  transition: background-color 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(128, 128, 128, 0.3); /* cinza semitransparente */
}
.bttn3 {
    color: white;
    background-color: #3D99F4;
    width: 100%;
    border: 0;
    
}

.brdr-20 {
    
    border-radius: 20px !important;
    box-shadow: 0; 
    border: 2px solid #3D99F4;
    clip-path: inset(0 round 20px);
    outline: 0;
    background-color: white;
    overflow: hidden;
    transition: none !important;
    
}



.brdr-20-t {
    border-radius: 0 0 0 0 !important;
    background-clip: padding-box;
    box-shadow: 0;
    outline: 0;
    font-size: clamp(8x, 1vw, 1rem);
    background-color: #3D99F4;
    width: 100%;
    border: 2px solid #3D99F4;
  
}


.brdr-20:hover {
    
    clip-path: inset(0 round 20px);
    overflow: hidden;
    transition: none !important;
    border-radius: 20px !important;
    box-shadow: 0;
    outline: 0;
    font-size: clamp(8x, 1vw, 1rem);
    background-color: #5CDCFF !important;
    width: 100%;
    border: 2px solid #5CDCFF;
    
}

.brdr-20:hover .brdr-20-t {
    background-color: #5CDCFF; /* mesma cor da borda */
    color: #114D7F;
    border: 2px solid #5CDCFF
}
.bgnd{
    background-color: tr;
}


.bttn4{
    color: #114D7F; 
    background-color:  #3D99F4; 
}
.bttn4:hover{
    background-color: #5CDCFF;  
    color:  #3D99F4; 
}
li .bttn5{
    color: #3D99F4; 
    height: 50px;
    font-family: Recoleta-SemiBold !important;
    font-weight: 600;        
}
li .bttn5:hover{
    color: #5CDCFF; 
    transition: color 0s ease, background-color 0s ease;
    text-decoration: none;
}

li .bttn5:hover .diagnostico-img {
    content: url('/static/site/img/diag-hover.svg'); /* Imagem ao passar o mouse */
}
li .bttn5:hover .medicos-img {
    content: url('/static/site/img/medicos-hover.svg'); /* Imagem ao passar o mouse */
}
li .bttn5:hover .justica-img {
    content: url('/static/site/img/jus-hover.svg'); /* Imagem ao passar o mouse */
}
li .bttn5:hover .sus-img {
    content: url('/static/site/img/sus-hover.svg'); /* Imagem ao passar o mouse */
}
li .bttn5:hover .sintomas-img {
    content: url('/static/site/img/sin-hover.svg'); /* Imagem ao passar o mouse */
}
li .bttn5:hover .publicacoes-img {
    content: url('/static/site/img/publi-hover.svg'); /* Imagem ao passar o mouse */
}    


.imgbot{
    background-color: #3D99F4;
}
.imgbot:hover{
    background-color: #5CDCFF;
}

.imgcontent{
    border-radius: 35px; 
    width: 100%;
}
.boxcontent{
    width: 18rem; 
    border-radius: 25px; 
    padding-bottom: 10rem;
    text-align: start;
}

.txtbox{
    font-size: 18px;
    background-color: white;
    border: 3px #3D99F4 solid; 
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 15px; 
    color: black;
    display: inline-flex; 
    text-decoration: none;
}
a.txtbox:hover{
    color: black;
    text-decoration: none;
}





.btt-cntt{
    border: none !important;
    font-size: 15px;
    background-color: #114D7F !important;
    color: #5CDCFF !important;
}

.btt-cntt:hover{
    font-size: 15px;
    background-color:  rgba(61, 153, 244, 0.3) !important;
    color: #114D7F !important;
}
.btt-cntt:hover{
    font-size: 15px;
    background-color:  rgba(61, 153, 244, 0.3) !important;
    color: #114D7F !important;;
}

.boxbttn{
    padding: 0%;
    border: 0;
}

.imgcard{
    border-radius: 25px 25px 0px 0px;
}

.share{
        background-color:  #F9FAFB;
        border-radius: 12px;
    }

    
    .sharebttn{
        background-color: #F9FAFB;
        border-radius: 8px;
        border: 0;
        width: 37px; 
        height: 37px;
        
    }
    .sharebttn:hover{
        background-color: #D0D5DD;
        
    }
.rod{
    justify-content: flex-start;
    align-items:flex-start;
    gap: 16px;
    display: inline-flex
}

.rod-brd{
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px; 
    overflow: hidden;
    border: 1px #D0D5DD solid;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: flex
}

.rod-bttn{
    width: 20px; 
    height: 20px; 
    position: relative
}

.rod-txt{
    color: #384250;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word
}

.block{
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 2px; 
    padding-bottom: 2px;
    mix-blend-mode: multiply;
    /*background: #EFF8FF;*/
    border-radius: 16px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex
}

.tit-block{
    align-self: stretch;
    color: #111927;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word
}

.column{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 8px; 
    display: inline-flex
}

.column2{
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 8px; 
    display: flex
}

.sob-block{
    align-self: stretch;
    height: 88px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex
}

.txt{
    text-align: center; 
    /*color: #175CD3;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word
}

.cont{
    align-self: stretch; 
    height: 120px; 
    padding: 16px; 
    background: #F9FAFB; 
    border-radius: 12px; 
    overflow: hidden; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 32px; 
    display: flex
}

.fig{
    
    transition: all 0.3s ease;
}
.fig:hover{
    content: src("{% static '/site/img/Rectangle 166.png' %}");
}

.tag-button-txt{
    text-align: center; 
    color: #384250; 
    font-size: 12px; 
    font-weight: 500; 
    line-height: 18px; 
    word-wrap: break-word;
    
}

.tag-button{
    padding-left: 8px; 
    padding-right: 8px; 
    padding-top: 2px; 
    padding-bottom: 2px; 
    mix-blend-mode: multiply; 
    background: #F3F4F6; 
    border-radius: 16px; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
    outline: none;
}

input::placeholder {
    color: #ffffff;
    font-size: min(3vw,20px);
    }



    .flex-center{
    
    margin: 0;
    padding: 20px;
    }