/* style.css */

.custom-input-container {
    text-align: center;
}

.input-container {
    width: 80%;
    border-radius: 40px;
    border: 5px solid #A167A5;
    height: 5rem;
    text-align: left;
    font-size: 2vh;
    padding-left: 3rem;
}

.input-container:focus {
    outline: none;
    box-shadow: none;
}

.text-home {
    font-weight: 950;
    font-size: 65px;
    line-height: 53px;
    text-align: center;
    color: #A167A5;
}


.text-publicidade {
    font-weight: 950;
    size: 45px;
    line-height: 53px;
    align-self: center;
    color: #ffffff;
}

.col-12 publicidade {
    background-color: #A167A5;
}

.row button {
    background-color: #ffffff;
    text-decoration: none;
    color: #A167A5;
    border-radius: 20px;
    padding-top: .8%;
    padding-bottom: .8%;
    flex-wrap: wrap;
}

.row button:hover {
    color: #A167A5;
}

.row .col-lg-4 {
    border-radius: 50px;
    border-color: #9BC2C1;
    background-color: #9BC2C1;
}
